/*Watakaba - Lime v 0.01*/

html, body {
    background-color: #212121;
    color: #9E9E9E;
    font-family: sans-serif;
    font-size: 12px;
    margin: 0;
    /*padding: 5px;*/
    padding: 0;
    line-height: 1.42857143;
    box-sizing: border-box;
    display: block;
}
body {
    background-color: rgba(0,0,0,0);
    padding: 5px; /*body padding = table top/bottom margin - 1*/
}
table {
    border-style: none;
	margin: 4px 0; /*body padding = table top/bottom margin - 1*/

}
table td {
    border-style: none;
}
blockquote {
    margin: 5px;
    max-height: 400px;
    min-width: 20px;
    max-width: 1310px;				
    /*word-break: break-all;*/
    word-wrap: normal;				
    color: #F5F5F5!important;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    font-size: 12px;
    overflow: auto;
}
.reply, .highlight{
    border-radius: 5px;
    border: none!important;
    /*margin: 1px 1px;*/
    margin: 0;
    padding: 5px;
    float: left;
    clear: left;
    display: block;
    background: #424242;
    box-sizing: border-box;
    color: inherit;
    font-family: sans-serif;
    font-size: 12px;
    min-width: 450px;
    /*overflow: auto;*/
}
a {
    color: inherit;
}
a:hover {
    color: #0066FF;
}
.admin {
    display: inline-block;
    background: #800080;
    color: #F5F5F5;
    border-radius: 5px;
    height: 15px;
}
.adminbar {
    clear: both;
    float: right;
    font-size: .8em;
}
.adminbar a {
    font-weight: bold;
}
.logo {
    clear: both;
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    color: inherit;
}
.theader, .passvalid, .replymode {
    background: #DDDDDD;
    text-align: center;
    padding: 2px;
    color: #2266AA;
    clear: both;
    font-weight: bold;
    margin-bottom: .5em;
    border: solid 1px #CCCCCC;
    -moz-border-radius: 5px;
}
.rules {
    font-size: 0.7em;
}
.postblock {
    background: transparent;
    color: #002244;
    font-weight: bold;
}
.footer {
    text-align: center;
    font-size: 12px;
    font-family: serif;
    margin: 2em 0 0 0;
}
.dellist {
    font-weight: bold;
    text-align: center;
}
.delbuttons {
    text-align: center;
    padding-bottom: 4px;
}
.managehead {
    background: #DDDDDD;
    color: #002244;
    padding: 0px;
}
.postlists {
    background: #FFFFFF;
    width: 100%;
    padding: 0px;
    color: #800000;
}
.row1 {
    background: #DDDDDD;
    color: #002244;
}
.row2 {
    background: #CCCCCC;
    color: #002244;
}
.unkfunc {
    background: inherit;
    color: #64FFDA;
}
.filesize {
    text-decoration: none;
    color: #717171!important;
    font-size: 10px;
}
/*.filesize::before {
    display: block;
    content: "";
    border-bottom: 1px solid #505050;
    box-shadow: 0 0 1px #505050;
    margin-top: 2px;
    margin-bottom: 1px;
}*/
.filetitle {
    background: inherit;
    font-size: 110%;
    color: #005a83;
    font-weight: 800;
}
.postername {
    color: #60DEBF;
    font-weight: 800;
}
.postername a {
    text-decoration: underline!important;
}
.postertrip {
    color: #1AB38D;
    font-weight: 400;
}
.oldpost {
    color: #CC1105;
    font-weight: bold;
}
.omittedposts {
    color: #666666;
}

/*blockquote {
    margin: .5em .5em .5em 1em;
    max-height: 400px;
    min-width: 20px;
    word-wrap: break-word;
    color: #F5F5F5!important;
    box-sizing: border-box;
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    font-size: 12px;
    overflow: auto;
}*/

blockquote p {
    margin: 0;
    padding: 0;
}
.replytitle {
    font-size: 1.2em;
    color: #002244;
    font-weight: bold;
}
.commentpostername {
    color: #004A99;
    font-weight: 800;
}
.thumbnailmsg {
    font-size: .8em;
    color: #666666;
}
hr {
    border-style: solid none none none;
    border-width: 1px;
    border-color: #BBBBBB;
}
.nothumb {
    background-color: #FFFFFF;
    border-style: dotted;
    margin: .3em .5em;
}
.thumb, .webmthumb {
    border: none;
    float: left;
    margin: 7px 15px 5px 5px;
}
.webmthumb {
    border: 2px dashed #6F6F6F;
    padding: 5px;
    max-height: 250px;
    max-width: 250px;
}
.abbrev {
    color: #666666;
}
.de-pview {
    position: absolute;
    width: auto;
    z-index: 9999;
    margin: 0 !important;
    display: block !important;
    border: 1px solid #212121 !important;
    box-shadow: 0 0px 10px #212121;
}
.spoiler, s {
    color: inherit;
    background-color: #787878 !important;
}
label {
    cursor: default;
    font-weight: inherit;
    max-width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
    color: #717171!important;
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 5px!important;
}
.de-post-counter::after {
    cursor: default;
    font-weight: inherit;
    max-width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
    color: #717171!important;
    font-family: sans-serif;
    font-size: 12px;
}
.reflink {
    cursor: default;
    font-weight: inherit;
    max-width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
    color: #717171!important;
    font-family: sans-serif;
    font-size: 12px;
}
.reflink a {
    text-decoration: none;
    color: inherit;
    transition: text-decoration, color .08s;
}
.reflink a:hover {
    text-decoration: overline underline;
    color: #32d96f;
}
span.de-post-btns span {
    margin: 0 4px 0 2px;
    vertical-align: 1px;
    color: #717171!important;
    font: inherit!important;
    cursor: default;
}
A:hover {
    color: inherit
}
a:link, a:visited, a:hover, p.intro a.email span.name {
    text-decoration: none;
    font-family: sans-serif;
}
.de-refmap a {
    margin: 10px 4px 4px 4px;
    font-size: inherit;
    font-style: italic;
    color: #1DE9B6
}
.de-refmap {
    margin: 10px 4px 4px 4px;
    font-size: 75%;
    font-style: italic;
    color: #F5F5F5!important;
    font-family: sans-serif;
}
blockquote a {
    color: #1DE9B6
}
blockquote a:hover {
    color: #1DE9B6
}
.de-btn-expthr, .de-btn-fav, .de-btn-fav-sel, .de-btn-hide, .de-btn-hide-user, .de-btn-unhide, .de-btn-unhide-user, .de-btn-rep, .de-btn-src, .de-btn-stick, .de-btn-stick-on {
    fill: none;
}
.de-btn-stick, .de-btn-hide-use, .de-btn-fav use, .de-btn-rep, .de-btn-src {
    color: #717171!important;
}
.de-btn-unhide-use {
    color: #1DE9B6!important;
}
.de-win-head {
    position: relative;
    border-radius: 10px 10px 0 0;
    color: #F5F5F5;
    font: bold 14px/16px arial;
    text-align: center;
    cursor: default;
    background: #313131!important;
    padding: 5px;
    border: 1px solid #333;
}
div#de-panel, .de-win-head {
    border-radius: 10px 10px 0 0;
    color: #F5F5F5;
    font: bold 14px/16px arial;
    background: #313131!important;
    padding: 5px;
    border: 1px solid #333;
}
div#de-panel {
    border-radius: 10px 0 0 0;
}
#de-win-reply.de-win > .de-win-body {
    border: 0px;
}
.de-cfg-label {
    color: inherit!important
}
.de-cfg-body, #de-cfg-buttons {
    border: 0px;
    margin-bottom: 10px;
}
.de-win {
    box-shadow: 0 0px 15px -5px #212121;
}
svg.de-panel-svg use {
    color: #D0D0D0;
}
.postblock {
    background: transparent;
    color: #D0D0D0;
    font-weight: 800;
    text-align: right
}
textarea, input[type="text"], input[type="password"], #de-pform input[type="text"], #de-pform input[type="file"], select {
    background: #6F6F6F;
    border-color: transparent;
    color: #DEDEDE;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    border-radius: 3px
}
div#bbcode {
    margin: 0px 0 5px
}
div#bbcode input[class="sub_btn"] {
    border: 1px solid #6f6f6f;
    border-radius: 0;
    width: 30px!important;
    height: 25px!important;
    background: transparent;
    font: inherit;
    color: #d0d0d0;
    text-shadow: none;
    text-align: center;
    margin: -2px;
    transition: color, text-shadow .2s;
}
div#bbcode input[class="sub_btn"]:hover {
    color: #f5f5f5;
    text-shadow: 0 0 15px #aaa;
}
div#bbcode input[value=" B "] {
    border-radius: 4px 0 0 4px;
    margin-left: 0;
}
div#bbcode input[value="Spoiler"] {
    width: 60px!important;
    
}
div#bbcode input[value="Code"] {
    width: 45px!important;
    
}
div#bbcode input[value="Sarcasm"] {
    border-radius: 0 4px 4px 0;
    width: 60px!important;
}
div#bbcode input[value=" u "] {
    text-decoration: underline;
    letter-spacing: -2px;
}
div#bbcode input[value="S"] {
    text-decoration: line-through;
    letter-spacing: 5px;
    font-style: oblique;
}
div#bbcode input[value="Rand"] {
    width: 60px!important;
    border-radius: 4px 0 0 4px;
    margin-top: 3px;
    margin-left: 2px;
}
div#bbcode input[value="News"] {
    width: 60px!important;
    border-radius: 0 4px 4px 0;
    margin-top: 3px;
}
input[name="embed"] {
    margin-top: 0!important;
}
input[type="submit"] {
    background: linear-gradient(180deg, #777, #6f6f6f);
    color: #dedede;
    height: 23px;
    width: 90px;
    margin: 0 10px;
    border-radius: 4px;
    border: 1px solid #6f6f6f;
    cursor: pointer;
    transition: background .3s 50ms
}
input[type="submit"]:hover {
    background: linear-gradient(180deg, #6f6f6f, #888);
}
input[name="embed"] {
    margin: 0 0 10px
}
#de-wrapper-popup {
    border: 1px solid #212121 !important;
    box-shadow: 0 0px 10px #212121;
}
.de-popup-msg, .de-popup-btn {
    color: #D0D0D0
}
.dice {
    color: green;
    background: none;
    border-radius: 0
}
::selection {
    background: #64FFDA;
    color: #f5f5f5;
}
table.postform {
    display: block;
    font-size: 10pt;
    position: static;
    margin: auto;
}
input[type="checkbox"] {
	vertical-align: bottom;
    cursor: pointer;
}
/*
img.de-img-full, de-img-wrapper-inpost {
    margin: 0;
    width: inherit;
    height: inherit;
}*/


/*Скрыто:*/

/*Картинка WebM в верхней части поста*/
.filesize img {
    height: 10px;
    width: 36px;
    display: none;
}

/*>> слева от каждого поста*/
.doubledash {
    display: none;
    vertical-align: top;
    clear: both;
    float: left;
}

/*Чекбоксы в левом верхнем углу поста*/
input[type="checkbox"] {
    margin: 0;
    display: none;
}

/*Блок удаления собственных постов*/
.userdelete {
    display: none;
    font-size: 10pt;
}
    
html, body, .logo {color: #9E9E9E}
.message, .de-refmap {color: #F5F5F5}
a, a:hover {color: #1DE9B6}
label, .reflink a, .filesize, .filesize a {color:  #717171}
span.filesize {margin-left: 0!important;}
    
#de-win-reply.de-win .de-textarea {
font-size:11pt!important;
}
