<div class="{{ class is defined ? class ~ ' ' }}navigation">
  <button class="navigation__button button" id="navigation-right" title="Show next file">
    <span class="fas fa-arrow-right"></span>
  </button>

  <button class="navigation__button button hidden" id="navigation-autoplay" title="Autoplay next video">
    <span class="fas fa-forward"></span>
  </button>
</div>
