<div class="{{ class is defined ? class ~ ' ' }}navigation">
  <button class="navigation__button button" id="navigation-left" title="Show previous file">
    <span class="fas fa-arrow-left"></span>
  </button>
</div>
