{% set isInThread = res != constant('INDEXPAGE') %}

{% apply spaceless %}
  <div id="posting-form-wrapper" class="content__posting-form-wrapper">
    {% if not isInThread %}
      <button type="button" class="button content__reply-button" id="posting-form-show">Create thread</button>
    {% else %}
      <button type="button" class="button content__reply-button" id="posting-form-show">Reply</button>
    {% endif %}
    <div id="posting-form" data-component="post-form"></div>
  </div>
{% endapply %}
