<ul class="{{ class is defined ? class ~ ' ' }}tools">
  <li class="tools__item">
    <button class="button" id="tools-scroll-top"><span class="fas fa-arrow-up"></span></button>
  </li>

  <li class="tools__item">
    <button class="button" id="tools-scroll-bottom"><span class="fas fa-arrow-down"></span></button>
  </li>
</ul>
