<ul class="{{ class is defined ? class ~ ' ' }}tools">
  <li class="tools__item">
    <button class="tools__button button" id="tools-toggle-settings" title="Settings">
      <span class="fas fa-wrench"></span>
    </button>
  </li>

  <li class="tools__item">
    <button class="tools__button button" id="tools-toggle-nsfw" title="Toggle NSFW mode">
      <span class="far fa-eye-slash"></span>
    </button>
  </li>

  <li class="tools__item">
    <button class="tools__button button" id="tools-toggle-autoplay" title="Toggle autoplay">
      <span class="fas fa-play"></span>
    </button>
  </li>

  <li class="tools__item">
    <button class="tools__button button" id="tools-scroll-top" title="Scroll to top">
      <span class="fas fa-arrow-up"></span>
    </button>
  </li>

  <li class="tools__item">
    <button class="tools__button button" id="tools-scroll-bottom" title="Scroll to bottom">
      <span class="fas fa-arrow-down"></span>
    </button>
  </li>
</ul>
