<div id="video-modal" class="modal modal--hidden">
  <div class="modal__header"></div>

  <div id="video-modal_content" class="modal__content modal__content--video">
    <video class="modal__video" autoplay="true" controls="true" loop="true" />
  </div>
</div>
