<div id="video-modal" class="modal modal--hidden">
  <div id="video-modal_content" class="modal__content modal__content--video">
    <div class="player">
      <video class="player__video" autoplay="true" loop="true" preload="none">
      </video>

      <div class="player__controls">
        <button class="player__play hidden">
          <span class="fas fa-play"></span>
        </button>

        <button class="player__pause">
          <span class="fas fa-pause"></span>
        </button>

        <input type="range" class="player__seek"
              value="0" min="0" max="1" step="0.001" />

        <button class="player__mute">
          <span class="fas fa-volume-up"></span>
        </button>

        <button class="player__unmute hidden">
          <span class="fas fa-volume-mute"></span>
        </button>

        <input type="range" class="player__volume"
              value="1" min="0" max="1" step="0.01" />

        <button class="player__expand">
          <span class="fas fa-expand"></span>
        </button>

        <button class="player__compress hidden">
          <span class="fas fa-compress"></span>
        </button>
      </div>
    </div>
  </div>
</div>
