@mixin clearfix {
  &::before {
    clear: both;
    content: '';
    display: table;
  }

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin brackets {
  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }
}

// Responsive utils

$phone-up: 600px;
$tablet-portrait-up: 900px;
$tablet-landscape-up: 1200px;
$desktop-up: 1800px;

@mixin breakpoint($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin breakpoint-max($max-width) {
  @media screen and (max-width: $max-width - 1) {
    @content;
  }
}
