@import 'burichan/vars';

@import 'burichan/base';
@import 'burichan/post';
@import 'burichan/postform';

.footer {
  font-family: sans-serif;
  font-size: .7em;
}

.header {
  &__logo {
    background: inherit;
    clear: both;
    color: #af0a0f;
    font-size: 1.7em;
    text-align: center;
    width: 100%;
  }
}

// Styles for Dollchan Extension tools comptability

.reply {
  background: $post-bg-color;
  color: $text-color;
}
