@import 'vendor/index';

$background: linear-gradient(to top, #1a0f26, #120524);
$color:      #ff8fff;
$font:       14px 'Open Sans', sans-serif;
$padding:    1em;

$link-color:       #00ffff;
$link-hover-color: $color;

$link-hover-decoration: none;

$line-border: 1px solid #184b62;

$input-background:    #6f6f6f;
$input-color:         #dedede;
$input-border:        0;
$input-border-radius: 0;
$input-padding:       0.5em 0.5em;

$btn-background:    linear-gradient(180deg, #777, #6f6f6f);

$btn-hover-background: linear-gradient(180deg, #6f6f6f, #888);

$post-background:      url('synthwave/bgpostnew.jpg');
$post-header-color:    #9a9a9a;
$post-content-color:   #ffffff;
$post-omitted-color:   $link-color;
$post-border:          2px solid transparent;
$post-border-radius:   0;
$post-header-border:   1px solid #505050;
$post-header-padding:  8px 13px 2px;
$post-content-padding: 4px 13px 8px;
$post-file-margin:     0 15px 5px 0;
$post-margin:          0 0 7px;

$post-subject-color:  $color;
$post-name-color:     $link-color;
$post-tripcode-color: $link-color;

$spoiler-background: #6f6f6f;
$spoiler-color:      inherit;

$quote-color: $link-color;

@import 'base_quartz/index';
@import 'synthwave/index';
