{% extends 'layout/_html.twig' %}

{% block head %}
  {{ parent() }}

  <link rel="canonical" href="{{ url(this_page) }}" />
{% endblock %}

{% block content %}
  <main class="{{class is defined ? class ~ ' '}}">
    {% include 'components/_posting_form.twig' with {'class': 'content__posting-form'} %}

    <article class="thread">
      {% for post in posts %}
        {% if post.parent_id == 0 and not loop.first %}
          </article>
          <hr />
          <article class="thread">
        {% endif %}

        {% include 'components/_post.twig' %}
      {% endfor %}
    </article>

    <hr />

    {% include 'components/_pager.twig' with {'class': 'content__pager'} %}

    <div class="content__tools" data-component="tools"></div>

    {% include 'components/_nav-left.twig' with {'class': 'content__navigation-left hidden'} %}
    {% include 'components/_nav-right.twig' with {'class': 'content__navigation-right hidden'} %}
  </main>
{% endblock %}

{% block after_layout %}
  <div data-component="settings-popup"></div>
{% endblock %}
