{% extends 'layout/_manage.twig' %}

{% block manage %}
  {% if git_output %}
    <blockquote class="reply" style="padding: 7px;font-size: 1.25em;">
      <pre style="margin: 0;padding: 0;">
Attempting update...


{{ git_output }}
      </pre>
    </blockquote>

    <p>
      <b>Note:</b> If TinyIB updates and you have made custom modifications,
      <a href="https://github.com/tslocum/TinyIB/commits/master">review the changes</a>
      which have been merged into your installation.
      Ensure that your modifications do not interfere with any new/modified files.
      See the <a href="https://github.com/tslocum/TinyIB#readme">README</a> for more information.
    </p>
  {% else %}
    <p><b>TinyIB was not installed via Git.</b></p>
    <p>
      If you installed TinyIB without Git, you must <a href="https://github.com/tslocum/TinyIB">update manually</a>. 
      If you did install with Git, ensure the script has read and write access to the <b>.git</b> folder.
    </p>
  {% endif %}
{% endblock %}
