{% extends 'layout/_html.twig' %}

{% block head %}
  {{ parent() }}

  <link rel="canonical" href="{{ url('settings') }}" />
{% endblock %}

{% block content %}
  <main class="{{class is defined ? class ~ ' '}}">
    {% include 'components/_settings.twig' %}
  </main>
{% endblock %}
