.button {
  border-bottom-color: $input-border-alt;
  border-right-color: $input-border-alt;

  &:active {
    border: $input-border;
    border-top-color: $input-border-alt;
    border-left-color: $input-border-alt;
  }
}
