.popup {
  &#{&}--settings .settings-form {
    &__tab {
      background: #14151f;
      border: 1px solid #808080;
      border-bottom: 0;

      &--active {
        border-top-color: #404040;
        border-left-color: #404040;
      }

      &:not(:last-child) {
        border-right: 0;
      }
    }

    &__tab-content {
      border: $input-border;
    }
  }
}
