@import '../utils/index';

.post {
  &--popup &__inner {
    border: 1px solid #333;
  }

  &__inner {
    box-sizing: border-box;
    background: $post-background;
    border: $post-border;
    border-radius: $post-border-radius;
  }

  &__content {
    // Overflow breaks header float.
    max-height: unset;
    overflow: unset;
  }

  &__reference-link {
    &:hover {
      color: #b294bb;
    }
  }

  &__file-preview {
    margin: 0 0 0 5px;
  }

  @include breakpoint($xs-up) {
    &--popup &__inner {
      border: 1px solid #333;
    }

    &__header {
      float: left;
    }

    &__message {
      clear: left;
    }

    &__file-preview {
      float: right;
    }
  }
}
