
# See README for instructions on moderating and upgrading board

# Board description and behavior

# Internal developent server (WIP)
DEBUG_MODE_ALLOW=false
DEBUG_BASE_URL=localhost:8000

# Websocket
WEBSOCKET_URL=ws://localhost:8001/

# Redis
REDIS_HOST=unix:/var/run/redis/redis.sock

# Production URI base path relative to host
# To serve imageboard from site root set to ''
# To serve imageboard from directory 'dir' set to '/dir'
BASE_PATH=/b

# Set to '' for internal PHP server, or same as BASE_PATH for nginx, etc
CONTENT_PATH=/b

# Unique identifier for this board using only letters and numbers
BOARD=b

# Displayed at the top of every page
BOARDDESC=Board

# Board appearance

# Logo HTML
LOGO=
THREADSPERPAGE=10  # Amount of threads shown per index page
PREVIEWREPLIES=3   # Amount of replies previewed on index pages

# Post control
DELAY=30           # Delay (in seconds) between posts from the same IP address to help control flooding  [0 to disable]
MAXTHREADS=100     # Oldest threads are discarded when the thread count passes this limit  [0 to disable]
MAXREPLIES=0       # Maximum replies before a thread stops bumping  [0 to disable]

# Dice roll
DICE_ENABLED=true
DICE_MAX_COUNT=20
DICE_MAX_VALUE=10000

# File control
MAXKB=2048                           # Maximum file size in kilobytes  [0 to disable]
MAXKBDESC=2 MB                       # Human-readable representation of the maximum file size
NOFILEOK=false                       # Allow the creation of new threads without uploading a file
FILE_ANIM_GIF_THUMB=true             # Animate gif thumbnails
FILE_SHOW_ORIG_NAME=true             # Show original file name
FILE_OPTIMIZE_PNG=false              # Optimize png thumbnails with pngoptimizercl
FILE_MAXW=8192                       # Max allowed width
FILE_MAXH=8192                       # Max allowed height

# Thumbnail size
MAXW=250                             # Width
MAXH=250                             # Height

# Tripcode seed - Must not change once set!
TRIPSEED=                            # Enter some random text  (used when generating secure tripcodes)

# Database
DBBANS=bans                          # Bans table name (use the same bans table across boards for global bans)
DBPOSTS=posts                        # Posts table name

# Database configuration
DBHOST=
DBPORT=
DBUSERNAME=                          # Database Username
DBPASSWORD=                          # Database Password
DBNAME=                              # Database Name. Set file path if using sqlite
DBDRIVER=                            # PDO driver (mysql / sqlite / pgsql etc)

# Cache configuration

# CACHE possible values:
#   ''      - no caching.
#   'redis' - use redis for cache.
CACHE=

# Redis cache host
CACHE_REDIS_HOST=unix:/var/run/redis/redis.sock

# Google Tag Manager
GTM=

# onesignal.com settings
ONESIGNAL_APPID=
ONESIGNAL_KEY=

# Sentry
SENTRY_DSN=

VOTES=false
MODE=production
