<?xml version="1.0" encoding="UTF-8"?>
<phpunit stopOnFailure="false" bootstrap="app/Tests/bootstrap.php">
  <testsuites>
    <testsuite name="Tests">
      <directory>app/Tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory>app</directory>
      <exclude>
        <directory>app/Tests</directory>
        <directory>vendor</directory>
      </exclude>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-clover" target="clover.xml" />
  </logging>
</phpunit>
