.list {
  @include block;

  &__filters {
    margin: 0 0 1em;
  }

  &__top-pager {
    margin-bottom: 0.5em;
  }

  &__bottom-pager {
    margin-top: 0.5em;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__row {
    &:nth-child(2n+1) {
      background: $background;
    }

    &:hover {
      outline: 1px dotted #333;
    }
  }

  &__cell {
    padding: 0.25em 0.5em;

    &--nostretch {
      width: 1px;
      white-space: nowrap;
    }

    &--center {
      text-align: center;
    }
  }

  &__table-actions {
    align-items: center;
  }
}
