@mixin icon($icon) {
  @extend %fa-icon;
  @extend .far;

  &:before {
    content: fa-content($icon);
    vertical-align: middle;
  }
}

@mixin solid-icon($icon) {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($icon);
    vertical-align: middle;
  }
}

%icon-attachment {
  @include icon($fa-var-file-image);
}

%icon-clear {
  @include icon($fa-var-trash-alt);
}

%icon-float {
  @include icon($fa-var-window-maximize);
}

%icon-close {
  @include icon($fa-var-window-close);
}

%icon-close-solid {
  @include solid-icon($fa-var-window-close);
}

%icon-reply {
  @include solid-icon($fa-var-reply);
}

%icon-down {
  @include solid-icon($fa-var-arrow-down);
}
