%icon-attachment {
  @extend %fa-icon;
  @extend .far;

  &:before {
    content: fa-content($fa-var-file-image);
  }
}

%icon-clear {
  @extend %fa-icon;
  @extend .far;

  &:before {
    content: fa-content($fa-var-trash-alt);
  }
}

%icon-float {
  @extend %fa-icon;
  @extend .far;

  &:before {
    content: fa-content($fa-var-window-maximize);
  }
}

%icon-close {
  @extend %fa-icon;
  @extend .far;

  &:before {
    content: fa-content($fa-var-window-close);
  }
}
