@mixin brackets {
  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
  ::placeholder-shown         {@content}
  ::placeholder               {@content}
}

%clickable {
  cursor: pointer;

  &:active {
    transform: translateY(1px);
  }
}
