@import '../utils/index';
@import 'vars';

body, html {
  background: $background;
  color: $color;
  font: $font;
  line-height: 1.4;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

hr {
  border: 0;
  border-top: $line-border;
  height: 0;
  margin: 20px 1em;
}

ul, ol {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

// DE fixes.
.de-cfg-body,
.de-menu,
.de-popup,
.de-pview,
.de-win > .de-win-body,
#de-cfg-buttons {
  background: $post-background;
  color: $color;
}
