@import '../utils/index';
@import 'vars';

body, html {
  background: $background;
  color: $color;
  font: $font;
  line-height: 1.4;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

hr {
  border: 0;
  border-top: $line-border;
  height: 0;
  margin: 20px 0;
}

ul, ol {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea, input {
  box-sizing: border-box;
  color: $input-color;
  background: $input-background;
  border: $input-border;
  border-radius: $input-border-radius;
  padding: $input-padding;
  margin: 0;
}

input[type=submit], button {
  box-sizing: border-box;
  color: $btn-color;
  background: $btn-background;
  border: $btn-border;
  border-radius: $btn-border-radius;
  padding: $btn-padding;
  margin: 0;

  &:hover {
    background: $btn-hover-background;
  }

  &:active {
    transform: translateY(1px);
  }
}

// DE fixes.
.de-cfg-body,
.de-menu,
.de-popup,
.de-pview,
.de-win > .de-win-body,
#de-cfg-buttons {
  background: $post-background;
  color: $color;
}
