@import 'vars';

.button {
  box-sizing: border-box;
  color: $btn-color;
  background: $btn-background;
  border: $btn-border;
  border-radius: $btn-border-radius;
  padding: $btn-padding;
  margin: 0;
  cursor: pointer;

  &:hover {
    background: $btn-hover-background;
  }

  &:active {
    transform: translateY(1px);
  }
}
