.button {
  @extend %clickable;

  box-sizing: border-box;
  color: $btn-color;
  background: $btn-background;
  border: $btn-border;
  border-radius: $btn-border-radius;
  padding: $btn-padding;
  margin: 0;

  &:hover {
    background: $btn-hover-background;
  }

  &:active {
    background: $btn-active-background;
  }
}
