.color-picker-popup {
  position: absolute;
  
  top: 100%;
  right: 0;

  background: $form-background;
  border: $form-border;
  border-radius: $form-border-radius;
  padding: $form-content-padding;

  z-index: 1;

  &__picker {
    padding-bottom: 8px;
  }
}
