@import '../utils/index';
@import 'vars';

.content {
  &__links {
    float: right;
  }

  &__oppost,
  &__post {
    margin: $post-margin;
  }

  &__userdelete {
    /*display: flex;
    float: right;*/

    display: none;
  }

  &__postarea {
    @include clearfix;
  }

  &__postform {
    // DE fix.
    border: $post-border !important;
    padding: 10px !important;

    min-height: 200px;
    min-width: 300px;

    max-width: 80vw;
    max-height: 80vh;
  }

  &__pager {
    margin: 0;
  }

  &__footer {
    margin: 0;
  }
}
