@import '../utils/index';
@import 'vars';

.content {
  &__oppost,
  &__post {
    @include clearfix;

    margin: $post-margin;
  }

  &__userdelete {
    /*display: flex;
    float: right;*/

    display: none;
  }

  &__postarea {
    @include clearfix;
  }

  &__postform {
    display: inline-flex !important;
    flex-flow: column;

    box-sizing: border-box;

    // DE fix.
    border: $post-border !important;
    padding: 10px !important;

    min-height: 200px;
    min-width: 300px;

    max-width: 80vw;
    max-height: 80vh;
  }

  &__pager {
    margin: 0;
  }

  &__footer {
    margin: 0;
  }

  @include breakpoint($xs-up) {
    &__postform {
      display: inline-block !important;
      min-width: 550px;
    }
  }
}
