.content {
  &__oppost,
  &__post {
    @include clearfix;

    margin: $post-margin;
  }

  &__thread-updater {
    margin: $post-margin;
  }

  &__posting-form-wrapper {
    &--center {
      text-align: center;
    }
  }

  &__posting-form {
    display: inline-block;

    margin: $post-margin;

    width: 100%;
    max-width: 100%;
  }

  @include breakpoint($xs-up) {
    &__posting-form {
      width: unset;
    }
  }

  &__reply-button {
    min-width: 80px;
    height: 31px;
    margin: 0 1em;
  }

  &__userdelete {
    display: none;
  }

  &__pager {
    margin: 0;
  }

  &__footer {
    margin: 0;
  }

  &__settings-form {
    max-width: 600px;
    margin: 0 auto;
  }
}
