@import 'vars';

code {
  white-space: pre-line !important;
}

.dice {
  color: $dice-color;
  font: $dice-font;
}

.spoiler,
.rp {
  background-color: $spoiler-background;
  color: $spoiler-background;

  &:hover {
    color: $spoiler-color;
  }
}

.underline {
  text-decoration: underline;
}

.unkfunc {
  color: $quote-color;
}
