@import 'vars';

.markup {
  &__spoiler,
  &__rp {
    background-color: $spoiler-background;
    color: $spoiler-background;

    &:hover,
    &--visible {
      color: $spoiler-color;
    }
  }

  &__underline {
    text-decoration: underline;
  }

  &__quote {
    color: $quote-color;
  }
}

code {
  white-space: pre-line !important;

  br {
    display: none;
  }
}

.dice {
  color: $dice-color;
  font: $dice-font;
}

.spoiler,
.rp {
  background-color: $spoiler-background;
  color: $spoiler-background;

  &:hover {
    color: $spoiler-color;
  }
}

.underline {
  text-decoration: underline;
}

.unkfunc {
  color: $quote-color;
}
