@import 'vars';

$input-margin-h: 0.25em;
$input-margin-v: 0.5em;
$input-margin: 0 $input-margin-h $input-margin-v 0;

// DE fixes.
#de-pform input[type=text],
#de-pform input[type=file] {
  width: 100% !important;
}

.de-file {
  flex-shrink: 0;
  align-self: center;
}

#de-sagebtn {
  display: none !important;
}

.postform {
  position: relative;
  background: $form-background;

  // Reset table layout, required by DE.
  table, thead, tbody, tr {
    display: block;
  }

  th, td {
    display: inline-block;
  }

  & &__inner {
    display: flex;
    flex-flow: column;
    height: 100%;
    order: -1;
    /*overflow-x: hidden;
    overflow-y: auto;*/
  }

  & &__markup-group,
  & &__name-group,
  & &__message-group {
    display: flex;
    margin: 0 (-$input-margin-h) 0 0;
  }

  & &__markup-group,
  & &__name-group {
    flex-flow: row wrap;
  }

  & &__message-group {
    flex: 1;
  }

  & &__rules-group {
    display: none;
  }

  & &__attachment-group {
    display: none;
  }

  & &__field-row {
    flex: 1;
    margin: $input-margin;
    height: 2em;

    &_nostretch {
      flex: 0;
    }
  }

  & &__field-wrapper {
    display: block;
    height: 100%;
  }

  & &__input {
    height: 100%;
  }

  & &__markup-row {
    flex: 1;
    margin: $input-margin;
    height: 2em;
  }

  & &__markup-wrapper {
    display: block;
    height: 100%;
  }

  & &__markup {
    width: 100%;
    height: 100%;
  }

  & &__message-row {
    width: 100%;
    margin: $input-margin;
  }

  & &__message-wrapper {
    display: flex;
    height: 100%;
  }

  & &__message {
    width: 100%;
    height: 100%;
    resize: none;
  }

  & &__label {
    display: none;
  }
  & &__submit {
    min-width: 100px;
    height: 100%;
  }

  &__right-border {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
  }

  &__bottom-border {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    cursor: ns-resize;
  }

  &__corner {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
  }
}
