@import '../utils/index';
@import 'vars';

.posting-form {
  $submit-width: 120px;
  $submit-height: 36px;

  position: relative;

  background: $form-background;

  &__header {
    border-bottom: $post-header-border;
    padding: $post-header-padding;
    text-align: center;

    @include clearfix;
  }

  &__header-buttons {
    float: right;
  }

  &__close {
    padding: 1px;
  }

  &__content {
    padding: $post-content-padding;
  }

  &__row,
  &__markup-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 9px;
  }

  &__markup-row {
    justify-content: space-between;
  }

  &__subject,
  &__name {
    width: 50%;
    min-width: 80px;
    height: 31px;
    margin: 0 9px 0 0;
  }

  &__attachment {
    @extend .button;

    display: inline-block;

    width: 31px;
    height: 31px;
    padding: 4px;

    text-align: center;
  }

  &__attachment-icon {
    @extend %icon-attachment;

    display: inline-block;

    width: 16px;
    height: 16px;

    vertical-align: middle;
  }

  &__attachment-input {
    display: none;
  }

  &__markup-button {
    flex-grow: 1;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  &__message {
    margin: 0 0 4px 0;

    min-width: 100%;
    min-height: 100px;

    width: 100%;

    resize: vertical;
  }

  &__status {
    float: right;
    margin: 0 0 9px 9px;
  }

  &__submit {
    min-width: 80px;
    height: 31px;

    &--mobile {
      @extend %clickable;

      background: $submit-background;
      border: 0;
      border-radius: $submit-height / 2;
      color: $submit-color;
      font-weight: bold;

      min-width: $submit-width;
      height: $submit-height;
      margin: 0 0 9px 0;
    }
  }

  &__preview {
    @extend %clickable;

    position: relative;
    box-sizing: border-box;

    margin: 0 9px 0 0;

    width: 140px;
    height: 140px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: $btn-background;
    border: $btn-border;
    border-style: dashed;
    border-radius: $btn-border-radius;
    color: $btn-color;

    overflow: hidden;
    cursor: pointer;

    &--mobile {
      position: absolute;
      top: -149px;
      right: 0;
    }

    &--right {
      order: 1;
      margin: 0 0 0 9px;
    }
  }

  &__preview-image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: 50% 50%;
  }

  &__preview-remove {
    position: absolute;
    padding: 1px;
    top: 0;
    right: 0;
    z-index: 1;
  }

  @include breakpoint($xs-up) {
    border: $form-border;
    border-radius: $form-border-radius;

    &__content {
      display: flex;
    }

    &__message {
      min-width: 502px;

      resize: both;
    }

    &__status {
      float: unset;
      margin: 0 0 9px;
    }
  }
}
