.post {
  &__inner {
    @include clearfix;
  }

  &__header-mobile,
  &__header {
    color: $post-header-color;
    padding: $post-header-padding;
  }

  &__content {
    color: $post-content-color;

    padding: $post-content-padding;
    overflow-y: auto;
    max-height: 80vh;

    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  &__file-info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    color: #ffffff;
    font-size: 0.8em;
    font-weight: bold;
    text-shadow: 0.1em 0 #000000, 0 0.1em #000000, -0.1em 0 #000000, 0 -0.1em #000000;

    pointer-events: none;

    & > a {
      color: inherit;
      pointer-events: initial;
    }

    & > .de-btn-src {
      pointer-events: initial;
    }
  }

  &__file {
    position: relative;
    margin: $post-file-margin;
  }

  // TODO: another way to remove empty line.
  /*&__message {
    br:first-child {
      display: none;
    }
  }*/

  &__reference-link-author {
    font-size: 0.8em;
    margin-left: 0.25em;
    text-decoration: none;
  }

  &__reference-link-name {
    @extend .post-header__name !optional;

    text-shadow: none;
  }

  &__reference-link-tripcode {
    @extend .post-header__tripcode !optional;

    text-shadow: none;
  }

  &__omitted {
    color: $post-omitted-color;
  }

  &_reply &__inner {
    box-sizing: border-box;
    background: $post-background;
  }

  @include breakpoint($xs-up) {
    &__inner {
      @if $post-align-left {
        float: left;
        clear: left;
      }

      max-width: 100%;
    }

    &__header {
      border-bottom: $post-header-border;
    }

    &__file {
      float: left;
    }

    &__file:hover &__file-info {
      display: inline-block;
    }

    &_reply &__inner {
      min-width: 560px;
      border: $post-border;
      border-radius: $post-border-radius;
    }
  }
}
