.post-header {
  @include breakpoint-max($xs-up) {
    display: none;
  }

  &__delete {
    display: none;
  }

  &__delete-label {
    display: none;
  }

  &__subject {
    color: $post-subject-color;
  }

  &__name {
    color: $post-name-color;
  }

  &__tripcode {
    color: $post-tripcode-color;
  }

  &__reply-link {
    @include brackets;
  }

  &__reflink {
    color: inherit;
  }
}
