.post-header-mobile {
  @include breakpoint($xs-up) {
    display: none;
  }

  display: block;
  line-height: 1.5;

  &__subject {
    color: $post-subject-color;
    font-weight: bold;
  }

  &__name {
    color: $post-name-color;
    font-weight: bold;
  }

  &__tripcode {
    color: $post-tripcode-color;
  }

  &__reply-link {
    @include brackets;
  }

  &__reflink {
    color: inherit;
  }

  &__reflink-icon {
    @extend %icon-reply;
    @extend %clickable;
    font-size: 1.25em;
    padding: 0 0.1em;
    vertical-align: baseline;
  }

  @include breakpoint($xs-up) {
    &__reflink-icon {
      font-size: 1em;
    }
  }

  &__datetime {
    color: #787878;
    font-size: 0.8em;
  }

  &__file-info {
    display: inline-block;
    color: #787878;
    font-size: 0.8em;

    &::before {
      content: '|';
      margin: 0 0.25em;
    }

    & > a {
      color: inherit;
    }
  }
}
