@import '../utils/index';
@import 'vars';

.post {
  &__inner {
    @include clearfix;
  }

  &__header {
    color: $post-header-color;
    padding: $post-header-padding;
  }

  &__content {
    color: $post-content-color;

    padding: $post-content-padding;
    overflow-y: auto;
    max-height: 80vh;

    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  &__file-info {
    font-size: 0.8em;
  }

  &__file {
    margin: $post-file-margin;
  }

  &__reference-link {
    // To vertically center a text node without wrapper (DE comptability)
    display: inline-flex;
    align-items: center;
  }

  &__reference-link-author {
    font-size: 0.8em;
    margin-left: 0.25em;
    text-decoration: none;

    // To allow pointer events bubble up to the .post__reference-link (DE comptability)
    pointer-events: none;
  }

  &__reference-link-name {
    @extend .post-header__name !optional;

    text-shadow: none;
  }

  &__reference-link-tripcode {
    @extend .post-header__tripcode !optional;

    text-shadow: none;
  }

  &__omitted {
    color: $post-omitted-color;
  }

  &_reply &__inner {
    box-sizing: border-box;
    background: $post-background;
    border: $post-border;
    border-radius: $post-border-radius;
  }

  @include breakpoint($xs-up) {
    &__inner {
      @if $post-align-left {
        float: left;
        clear: left;
      }

      max-width: 100%;
    }

    &_reply &__inner {
      min-width: 560px;
    }

    &__file {
      float: left;
    }
  }
}
