$background: #e5e5e5 !default;
$color:      #333333 !default;
$font:       14px Roboto, Helvetica, Arial, sans-serif !default;
$padding:    13px !default;

$link-color:       $color !default;
$link-hover-color: $color !default;

$link-decoration:       none !default;
$link-hover-decoration: underline !default;

$line-border: 1px solid #cccccc !default;

$input-background:    #ffffff !default;
$input-color:         #333333 !default;
$input-border:        1px solid #cccccc !default;
$input-border-radius: 2px !default;
$input-font:          $font !default;
$input-padding:       3px 7px !default;

$btn-background:    $input-background !default;
$btn-color:         $input-color !default;
$btn-border:        $input-border !default;
$btn-border-radius: $input-border-radius !default;
$btn-padding:       $input-padding !default;

$btn-hover-background: #e5e5e5 !default;

$block-background:      #ffffff !default;
$block-header-color:    $color !default;
$block-content-color:   $color !default;
$block-border:          1px solid #d8d8d8 !default;
$block-border-radius:   4px !default;
$block-header-padding:  5px 10px 4px !default;
$block-content-padding: 7px 10px 5px !default;

$post-background:      $block-background !default;
$post-header-color:    $block-header-color !default;
$post-content-color:   $block-content-color !default;
$post-omitted-color:   $color !default;
$post-border:          $block-border !default;
$post-border-radius:   $block-border-radius !default;
$post-header-padding:  $block-header-padding !default;
$post-content-padding: $block-content-padding !default;
$post-file-margin:     0 0.5em 0 0 !default;
$post-margin:          0 0 10px !default;
$post-align-left:      true !default;

$form-background: $block-background !default;

$post-subject-color:  #002244 !default;
$post-name-color:     $color !default;
$post-tripcode-color: #228854 !default;

$dice-color: #228854 !default;
$dice-font:  600 0.8em monospace !default;

$spoiler-background: #000000 !default;
$spoiler-color:      #ffffff !default;

$quote-color: #789922 !default;
