html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  background-color: #212121;
  color: #f5f5f5;
}

a {
  color: #1de9b6;
  text-decoration: none;
}

ul {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

.spoiler,
.rp {
  background: #000;
  color: #000;

  &:hover {
    color: inherit;
  }
}

.unkfunc {
  color: #64ffda;
}

.dice {
  color: #228854;
  font-size: .8em;
  font-weight: 600;
}

button,
input,
textarea,
.input,
.button {
  box-sizing: border-box;
  color: #dedede;

  transition: background-color ease 0.333s, box-shadow ease 0.333s;

  padding: 0.5rem;

  border: 0;
  border-radius: 0.25rem;

  overflow: hidden;
}

$input-color: #6f6f6f;
$input-top-color: mix(#000, $input-color, 20%);
$input-bottom-color: mix(#fff, $input-color, 10%);

$input-hover-color: mix(#000, $input-color, 10%);
$input-hover-top-color: mix(#000, $input-hover-color, 20%);
$input-hover-bottom-color: mix(#fff, $input-hover-color, 10%);

$input-active-color: mix(#000, $input-color, 20%);
$input-active-top-color: mix(#000, $input-active-color, 20%);
$input-active-bottom-color: mix(#fff, $input-active-color, 10%);

input,
textarea,
.input {
  background-color: $input-color;
  box-shadow: 1px 2px 2px $input-top-color inset, -1px -2px 2px $input-bottom-color inset;

  &:hover {
    background-color: $input-hover-color;
    box-shadow: 1px 2px 2px $input-hover-top-color inset, -1px -2px 2px $input-hover-bottom-color inset;
  }

  &:focus,
  &:active {
    background-color: $input-active-color;
    box-shadow: 1px 2px 2px $input-active-top-color inset, -1px -2px 2px $input-active-bottom-color inset;
  }
}

$btn-color: #6f6f6f;
$btn-top-color: mix(#fff, $btn-color, 10%);
$btn-bottom-color: mix(#000, $btn-color, 20%);

$btn-hover-color: mix(#000, $btn-color, 10%);
$btn-hover-top-color: mix(#fff, $btn-hover-color, 10%);
$btn-hover-bottom-color: mix(#000, $btn-hover-color, 20%);

$btn-active-color: mix(#000, $btn-color, 20%);
$btn-active-top-color: mix(#fff, $btn-active-color, 10%);
$btn-active-bottom-color: mix(#000, $btn-active-color, 20%);

button,
.button {
  background-color: $btn-color;
  box-shadow: 1px 2px 2px $btn-top-color inset, -1px -2px 2px $btn-bottom-color inset;
  cursor: pointer;

  &:hover {
    background-color: $btn-hover-color;
    box-shadow: 1px 2px 2px $btn-hover-top-color inset, -1px -2px 2px $btn-hover-bottom-color inset;
  }

  &:focus,
  &:active {
    background-color: $btn-active-color;
    box-shadow: 1px 2px 2px $btn-active-top-color inset, -1px -2px 2px $btn-active-bottom-color inset;
  }
}

:focus {
  outline: none;
}

:-moz-focusring,
::-moz-focus-inner {
  outline: none;
}

::-webkit-input-placeholder {
  color: mix(#000, #dedede, 25%);
  opacity: 1.0;
}

:-ms-input-placeholder {
  color: mix(#000, #dedede, 25%);
  opacity: 1.0;
}

::-moz-placeholder {
  color: mix(#000, #dedede, 25%);
  opacity: 1.0;
}

:-moz-placeholder {
  color: mix(#000, #dedede, 25%);
  opacity: 1.0;
}

.fadable {
  transition: opacity 0.333s ease;
}

.fade {
  opacity: 0;
}
