.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;

  &__image,
  &__video {
    width: auto;
    height: auto;
    max-height: 100%;
  }
}
