<header class="{{ class is defined ? class ~ ' ' }}header">
  {% include 'components/_style_selector.twig' with {'class': 'header__style-selector'} %}
  {% include 'components/_menu.twig' with {'class': 'header__menu'} %}

  <div class="header__logo">
    {{ config('LOGO') }}

    <a class="header__title-link" href="/{{ config('BOARD') }}">
      <h1 class="header__title">{{ config('BOARDDESC') }}</h1>
    </a>
  </div>
</header>
