<header class="{{ class is defined ? class ~ ' ' }}header" id="header">
  <div class="header__style-selector" data-component="style-selector"></div>

  {% include 'components/_menu.twig' with {'class': 'header__menu'} %}

  <div class="header__logo">
    {{ config('LOGO') }}

    <a class="header__title-link" href="{{ config('BASE_PATH') }}">
      <h1 class="header__title">{{ config('BOARDDESC') }}</h1>
    </a>
  </div>
</header>
