<!DOCTYPE html>

<html>
  <head>
    {% block head %}
      {% include 'layout/_head.twig' %}
    {% endblock %}
  </head>

  <body {{ body_attribs }}>
    {% if config('GTM') %}
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ config('GTM') }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    <div class="layout">
      {% include 'layout/_header.twig' with {'class': 'layout__header'} %}

      {% with %}
        {% set class = 'layout__content' %}
        {% block content %}{% endblock %}
      {% endwith %}

      <footer class="layout__footer footer" id="footer">
        <ul class="footer__list">
          {% block footer_links %}
          {% endblock %}
        </ul>
      </footer>
    </div>

    {% block after_layout %}
    {% endblock %}
  </body>
</html>
