{% set title = 'System' %}

{% set breadcrumb = [
  { url: base_url, title: constant('TINYIB_BOARDDESC') },
  { url: base_url ~ '/admin', title: 'Admin Dashboard' },
] %}

{% extends 'admin/layout/_html.twig' %}

{% block content %}
  <div class="item content__item">
    <div class="item__header">
      <h1 class="item__title">{{ title }}</h1>
    </div>

    <div class="item__content">
      {% if message %}
      <div class="messages item__messages">
        <ul class="messages__list">
          <li class="messages__list-item">
            <span>{{ message }}</span>
          </li>
        </ul>
      </div>
      {% endif %}

      <div class="item__actions">
        <ul class="item__actions-list">
          <li class="item__actions-list-item">
            <form method="post" action="{{ base_url }}/admin/system/clear-cache">
              <button type="submit" class="button">Clear cache</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
