{% set title = 'Moderation Log' %}

{% set breadcrumb = [
  { url: url(), title: config('BOARDDESC') },
  { url: url('admin'), title: 'Admin Dashboard' },
] %}

{% extends 'admin/layout/_html.twig' %}

{% block content %}
  <div class="list content__list">
    <div class="list__header">
      <h1 class="list__title">{{ title }}</h1>
    </div>

    <div class="list__content">
      {% include 'admin/components/_filters.twig' with filter + {
        'list_url': url('admin/modlog'),
        'class': 'list__filters',
      } %}

      <div id="list" data-url="{{ url('ajax/admin/modlog') }}">
      {% include 'admin/modlog/_list.twig' %}
      </div>
    </div>
  </div>
{% endblock %}
