{% set title = 'Moderation Log' %}

{% set breadcrumb = [
  { url: base_url, title: constant('TINYIB_BOARDDESC') },
  { url: base_url ~ '/admin', title: 'Admin Dashboard' },
] %}

{% extends 'admin/layout/_html.twig' %}

{% block content %}
  <div class="list content__list">
    <div class="list__header">
      <h1 class="list__title">{{ title }}</h1>
    </div>

    <div class="list__content">
      {% if items|length %}
        {% if pager.total_pages > 1 %}
          {% include 'admin/components/_pager.twig' with pager + {
            'class': 'list__top-pager',
          } %}
        {% endif %}

        <table class="list__table list__table--striped">
          <thead>
            <tr class="list__table-header">
              <th class="list__cell">ID</th>
              <th class="list__cell">Date</th>
              <th class="list__cell">Event</th>
            </tr>
          </thead>

          <tbody>
            {% for item in items %}
              <tr class="list__row">
                <th class="list__cell list__cell--nostretch" scope="row">{{ item.id }}</th>

                <td class="list__cell list__cell--nostretch">
                  {{ item.created_at|date('j.m.Y H:i:s') }}
                </td>

                <td class="list__cell">{{ item.message|raw }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if pager.total_pages > 1 %}
          {% include 'admin/components/_pager.twig' with pager + {
            'class': 'list__bottom-pager',
          } %}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
