{% set title = 'Moderation log' %}

{% set breadcrumb = [
  { url: base_url, title: constant('TINYIB_BOARDDESC') },
  { url: base_url ~ '/admin', title: 'Admin Dashboard' },
] %}

{% extends 'admin/layout/_html.twig' %}

{% block content %}
  <div class="list content__list">
    <div class="list__header">
      <h1 class="list__title">{{ title }}</h1>
    </div>

    <div class="list__content">
      {% if items|length %}
        <table class="list__table list__table--striped">
          <thead>
            <tr class="list__table-header">
              <th class="list__cell">#</th>
              <th class="list__cell">Date</th>
              <th class="list__cell">Event</th>
            </tr>
          </thead>

          <tbody>
            {% for item in items %}
              <tr class="list__row">
                <th class="list__cell list__cell--nostretch" scope="row">{{ item.id }}</th>

                <td class="list__cell list__cell--nostretch">
                  {{ item.createdTimestamp|date() }}
                </td>

                <td class="list__cell">{{ item.message|raw }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
