html,
body {
  background-color: #eee;
  color: #333;
  font-family: Verdana, sans-serif;
}

a {
  color: #f60;

  &:hover {
    color: #06f;
  }

  &,
  &:link,
  &:hover,
  &:visited,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

strong {
  font-weight: 700;
}

hr {
  background: #aaa;
}
