.post-header {
  padding: 4px 4px 1px;

  &__subject {
    color: #024;
    font-size: 1em;
    font-weight: bold;
  }

  &__reflink {
    color: inherit;

    &,
    &:link {
      text-decoration: none;
    }
  }
}
