html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

body {
  margin: 0 0 auto;
  min-width: 240px;
  padding: 8px;
}

form {
  margin-bottom: 0;
}

hr {
  border: 0;
  clear: both;
  height: 1px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;

  &:link,
  &:visited,
  &:active,
  &:hover {
    text-decoration: none;
  }
}

input[name='password'] {
  color: transparent;

  &:hover,
  &:focus {
    color: inherit;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

code {
  overflow: auto;
}

sub,
sup {
  font-size: .85em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.25em;
}

sub {
  bottom: -.25em;
}

.managebutton {
  margin: .2em;
}
