@import '../utils';

.content {
  &__return-wrapper {
    @include brackets;

    display: inline-block;
  }

  &__replymode,
  &__manageinfo {
    color: #fff;
    padding: 2px;
    text-align: center;
    width: 100%;
  }

  &__replymode {
    background: #e04000;
  }

  &__manageinfo {
    background: #00b930;
  }

  &__oppost,
  &__post {
    @include clearfix;

    max-width: 100%;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
  }

  &__login,
  &__postarea {
    text-align: center;
  }

  &__postform {
    margin: 0 auto;
    text-align: left;
  }

  &__userdelete {
    float: right;
    text-align: center;
    white-space: nowrap;
  }
}
