@import '../utils';

.content {
  &__replymode,
  &__manageinfo {
    color: #fff;
    padding: 2px;
    text-align: center;
    width: 100%;
  }

  &__replymode {
    background: #e04000;
  }

  &__manageinfo {
    background: #00b930;
  }

  &__reply {
    @include clearfix;

    margin: 2px 0;
  }

  &__login,
  &__postarea {
    text-align: center;
  }

  &__postform {
    margin: 0 auto;
    text-align: left;
  }

  &__userdelete {
    float: right;
    text-align: center;
    white-space: nowrap;
  }
}
