@import '../utils';

.content {
  &__links {
    display: block;
  }

  &__replymode,
  &__manageinfo {
    color: #fff;
    padding: 2px;
    text-align: center;
    width: 100%;
  }

  &__replymode {
    background: #e04000;
  }

  &__manageinfo {
    background: #00b930;
  }

  &__oppost,
  &__post {
    margin: 5px 0;
    width: 100%;
  }

  &__login,
  &__postarea {
    text-align: center;
  }

  &__postform {
    margin: 10px auto;
    text-align: left;
  }

  &__userdelete {
    text-align: center;
  }

  &__userdelete-label,
  &__userdelete-input,
  &__userdelete-submit {
    margin: 5px 0;
  }

  &__settings-form {
    margin: 0 auto;
    max-width: 600px;
  }
}
