@import '../utils';

#de-txt-panel {
  // Hide markup buttons
  display: none !important;
}

.de-post-note {
  display: none;
}

#de-sagebtn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.de-file-txt-area {
  order: 1;

  &,
  td {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

.de-file {
  box-sizing: border-box;
  margin: 0 !important;
}

#de-pform {
  padding-top: 10px !important;
}

#de-win-reply .content__postform {
  max-width: 100%;
}
