@import '../utils';

#de-txt-panel {
  // Hide markup buttons
  display: none !important;
}

.de-post-btns {
  background: inherit;
  position: absolute;
  right: 0;

  @include breakpoint($phone-up) {
    position: initial;
  }
}

.de-post-note {
  display: none;
}
