@import '../utils';

.post-header {
  background: inherit;
  display: flex;
  flex-flow: row wrap;
  position: relative;

  &__name-wrapper,
  &__datetime,
  &__reflink-wrapper {
    display: inline-block;
    margin: 0 2px;
  }

  &__name-wrapper {
    margin-left: 20px;
  }

  &__reply-wrapper {
    @include brackets;
  }

  @include breakpoint($phone-up) {
    display: block;
  }
}
