@import '../utils';

.post {
  position: relative;

  &__inner {
    overflow: hidden;
    position: relative;
  }

  &__file-info {
    display: block;
    max-width: 250px;
  }

  &__file {
    display: inline-block;
    margin: 5px;
  }

  &__message {
    margin: 5px;
    word-wrap: break-word;
  }

  @include breakpoint($phone-up) {
    @include clearfix;

    &_reply &__inner {
      float: left;
      min-width: 560px;
      max-width: 100%;
    }

    &__file {
      float: left;
      margin: 5px 10px 10px 5px;
    }
  }
}
