.postform {
  &__block {
    padding: 3px;
    vertical-align: top;
  }

  &__button-markup {
    margin-bottom: 5px;
    min-width: 25px;
    padding: 0;
  }

  &__rules {
    padding-left: 5px;
  }
}
