.post {
  &__inner {
    float: left;
    margin: 2px 0;
    overflow: hidden;
  }

  &__file-info {
    display: block;
    margin-left: 20px;
  }

  &__file {
    float: left;
    margin: 4px 20px;
  }

  &__message {
    margin: 1em 25px 5px;
  }
}
