.post {
  display: block;
  font-family: sans-serif;

  &__inner {
    background: #424242;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    clear: both;
    float: left;
    margin: 3px;
    min-width: 450px;
    padding: 5px;
  }

  &__file-info {
    color: #717171;
    font-size: .7em;
    margin-left: 0;
    text-decoration: none;
  }

  &__delete {
    display: none;
  }

  &__name-block {
    color: #717171;
    font-family: sans-serif;
    font-size: .85em;
    margin-bottom: 5px;
    margin-left: 5px;
    max-width: 100%;
  }

  &__message {
    color: #f5f5f5;
  }

  &__omitted {
    color: #666;
  }

  .unkfunc {
    color: #64ffda;
  }
}
