.postform {
  &__block_label {
    color: #d0d0d0;
    font-weight: 800;
    text-align: right;
  }

  &__markup {
    margin-right: -5px;
  }

  &__rules {
    font-size: .7em;
  }

  &__rules-list {
    list-style-type: disc;
  }
}
