@import 'vars';
@import '../utils';

.de-link-pref:hover {
  color: $title-text;
}

.de-post-counter {
  color: #6dc950;
}

.de-pview {
  .post__thumbnail {
    float: right;
  }
}

.de-cfg-body,
.de-menu,
.de-popup,
.de-pview,
.de-win > .de-win-body {
  background: $post-bg;
}
