@import 'vars';

.post-header {
  &__name-block {
    margin-left: -3px;
    padding: 4px;
  }

  &__subject {
    color: #cc1105;
    font-size: 1.2em;
    font-weight: 800;
  }

  &__name {
    color: #117743;
    font-weight: bold;
  }

  &__tripcode {
    color: #228854;
  }

  &__reflink {
    color: $third-text;
  }
}
