@import 'vars';

.post {
  background: $post-bg;
  border: 0px;
  border-style: solid;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  color: $main-text;

  &_reply {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  &__inner {
    float: unset;
    padding: 10px;
  }

  &__file-info {
    color: $third-text;
    margin-left: -3px;
    margin-top: 0;
    max-width: 440px;
    padding: 4px;
  }

  &__thumb {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    float: right;
  }

  &__message {
    border: 0px;
    border-style: solid;
    max-width: 100%;
    min-width: -moz-fit-content;
    min-width: min-content;
    overflow-wrap: break-word;
  }

  &:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
  }
}
