@import 'vars';
@import '../utils/index';

.post {
  background: $post-bg;
  border: 0 solid;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  color: $main-text;

  &:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, .2);
  }

  &_reply &__inner {
    float: unset;
  }

  &__header {
    float: left;
  }

  &__content {
    padding: 10px;
  }

  &__file-info {
    color: $third-text;
    margin-left: -3px;
    margin-top: 0;
    padding: 4px;
  }

  &__file {
    @include breakpoint($phone-up) {
      float: right;
      margin-right: 4px;
    }
  }

  &__message {
    clear: left;
    border: 0 solid;
    max-width: 100%;
  }

  &__reference-link-name {
    @extend .post-header__name;
  }

  &__reference-link-tripcode {
    @extend .post-header__tripcode;
  }

  &__omitted {
    color: #a88085;
  }
}
