@import 'vars';

.post {
  background: $post-bg;
  border: 0px;
  border-style: solid;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  color: $main-text;
  padding: 10px;

  &__inner {
    float: unset;
  }

  &__header {
    margin-right: 270px;
  }

  &__file-info {
    color: $third-text;
    margin-left: -3px;
    margin-right: 270px;
    margin-top: 0;
    max-width: 440px;
    padding: 4px;
  }

  &__file {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    float: right;
    margin-right: 4px;
  }

  &__message {
    border: 0;
    border-style: solid;
    max-width: 100%;
    min-width: -moz-fit-content;
    min-width: min-content;
    overflow-wrap: break-word;
  }

  &__omitted {
    color: #a88085;
  }

  &:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, .2);
  }
}
