@mixin block {
  background: $block-background;
  border: $block-border;
  border-radius: $block-border-radius;

  &__header {
    padding: $block-header-padding;
    color: $block-header-color;
  }

  &__title {
    margin: 0;
    text-align: center;
  }

  &__content {
    padding: $block-content-padding;
    color: $block-content-color;
  }

  &__actions {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  &__actions-list {
    display: flex;
    flex-flow: row wrap;
  }

  &__actions-list-item {
    margin-right: 0.25em;
  }

  &__messages {
    margin-bottom: 1em;
  }
}
