.item {
  @include block;

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__row {
    &:nth-child(2n+1) {
      background: $background;
    }
  }

  &__cell {
    padding: 0.25em 0.5em;
    text-align: left;

    &--nostretch {
      width: 1px;
      white-space: nowrap;
    }

    &--multiline {
      white-space: pre-line;
    }
  }
}
