body, html {
  background: $background;
  color: $color;
  font: $font;
  line-height: 1.5;

  @include breakpoint($xs-up) {
    line-height: 1.4;
  }
}

.smooth-scroll {
  scroll-behavior: smooth;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

hr {
  border: 0;
  border-top: $line-border;
  height: 0;
  margin: 20px 1em;
}

ul, ol {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.layout--disable-sub {
  sub, sup {
    font-size: 1em;
    top: 0;
    bottom: 0;
  }
}

.hidden {
  &#{&} {
    display: none;
    visibility: hidden;
  }
}

@include placeholder {
  color: $input-color;
  opacity: 0.5;
}

.fade {
  opacity: 1;

  transform: scale(1);
  transform-origin: 0 0;

  transition: opacity 0.15s linear, transform 0.15s linear;
}

.faded {
  opacity: 0;

  transform: scale(0);

  pointer-events: none;
}

a[data-has-popup] {
  outline: 1px dotted;
}

a.backlink {
  font-weight: 700;
}
