.file {
  &__hide {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 0.2em;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
    text-shadow: 1px 0 #000000, 0 1px #000000, -1px 0 #000000, 0 -1px #000000;
  }

  &__thumbnail {
    display: inline-block;
    line-height: 0;

    @include breakpoint($xs-up) {
      display: block;
    }
  }
}
