.header {
  &__style-switcher {
    float: left;
  }

  &__menu {
    float: right;
  }

  &__logo {
    clear: both;
    text-align: center;
  }

  &__title {
    display: inline;
    margin: 0;
  }
}
