.markup {
  &__spoiler,
  &__rp {
    background-color: $spoiler-background;
    color: transparent;

    &:hover,
    &--visible {
      color: $spoiler-color;
    }

    @at-root .layout--show-spoilers & {
      color: $spoiler-color;
    }
  }

  &__underline {
    text-decoration: underline;
  }

  &__quote {
    color: $quote-color;
  }
}

code {
  white-space: pre-line !important;

  br {
    display: none;
  }
}

.dice {
  color: $dice-color;
  font: $dice-font;
}
