.popup {
  background: $form-background;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;

  max-width: 100vw;
  max-height: 100vh;

  display: inline-block;

  z-index: 11;

  &#{&}--settings {
    top: unset;
    left: unset;

    bottom: 36px;
    right: 0;

    min-width: 40vw;
    width: 100%;
    height: 50vh;

    background: transparent;
    border: 0;
    padding: 0;

    pointer-events: none;

    .settings-form {
      display: flex;
      flex-flow: column;
      height: 100%;

      &__tab-content {
        flex: 1;
        overflow-y: auto;
      }
    }

    @include breakpoint($xs-up) {
      bottom: 30px;
      width: unset;
    }
  }

  &__header {
    border-bottom: $post-header-border;
    padding: $post-header-padding;
    text-align: center;

    @include clearfix;
  }

  &__header-buttons {
    float: right;
  }

  &__body {
    position: relative;
    padding: $post-content-padding;

    & > iframe {
      max-width: 100%;
    }
  }

  @include breakpoint($xs-up) {
    border: $post-border;
    border-radius: $post-border-radius;
  }
}
