.post-header {
  @include breakpoint-max($xs-up) {
    display: none;
  }

  &__delete {
    display: none;
  }

  &__delete-label {
    display: none;
  }

  &__subject {
    color: $post-subject-color;
  }

  &__name {
    color: $post-name-color;
  }

  &__tripcode {
    color: $post-tripcode-color;
  }

  &__reply-link {
    @include brackets;
  }

  &__reflink {
    color: inherit;
  }

  &__reflink-icon {
    @extend %icon-reply;
    @extend %clickable;
    font-size: 1.25em;
    padding: 0 0.1em;
    margin-right: 2px;
    vertical-align: baseline;

    &,
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  @at-root .layout--hide-post-header-reflink-icon &__reflink-icon {
    display: none;
  }

  &__post-no {
    color: #008700;
  }

  @include breakpoint($xs-up) {
    &__reflink-icon {
      font-size: 1em;
    }
  }
}
