.posting-form {
  $submit-width: 120px;
  $submit-height: 36px;

  background: $form-background;
  text-align: left;

  &--floating {
    position: fixed;

    top: 0;
    left: 0;

    z-index: 10;
  }

  &--floating &__header {
    cursor: pointer;
  }

  &__header {
    border-bottom: $post-header-border;
    padding: $form-header-padding;
    text-align: center;

    @include clearfix;
  }

  &__header-buttons {
    float: right;
  }

  &__float,
  &__restore,
  &__reset,
  &__close {
    @extend %clickable;

    padding: 0.1em;
    font-size: 1.5em;
    vertical-align: middle;
  }

  &__float,
  &__restore,
  &__reset {
    margin-right: 0.5em;
  }

  &__float,
  &__restore {
    display: none;
  }

  &__main {
    display: flex;
    flex-flow: column;
    padding-top: 4px;
  }

  &__content {
    position: relative;
    padding: $form-content-padding;
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    position: relative;

    &--message {
      order: 1;
    }

    &--markup,
    &--bottom {
      order: 2;
    }

    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  @at-root .layout:not(.layout--show-markup) &__row--markup {
    display: none;
  }

  &__subject,
  &__name {
    min-width: 80px;
    width: 80px;
    height: 31px;
    flex: 50%;
    margin: 0 9px 0 0;
  }

  &__attachment {
    @extend %clickable;

    padding: 0.1em;
    font-size: 1.5em;
  }

  &__attachment-input {
    display: none;
  }

  &__markup-button {
    flex-grow: 1;
    min-height: 30px;
    padding: 4px 1px;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  &__message {
    min-width: 100%;
    min-height: 100px;

    width: 100%;

    resize: vertical;
  }

  &__status {
    float: right;
    margin: 0 0 9px 9px;
    white-space: pre-line;
  }

  &__submit {
    min-width: 80px;
    height: 31px;

    &--mobile {
      @extend %clickable;

      background: $submit-background;
      border: 0;
      border-radius: $submit-height / 2;
      color: $submit-color;
      font-weight: bold;

      min-width: $submit-width;
      height: $submit-height;
      margin: 0 0 9px 0;
    }

    &--desktop {
      display: none;
    }
  }

  &__preview {
    @extend %clickable;

    position: relative;
    box-sizing: border-box;

    width: 100%;
    height: 140px;

    margin-bottom: 9px;
    margin-left: 0;
    margin-right: 9px;

    flex-shrink: 0;

    &--desktop {
      display: none;
    }
  }

  &__preview-remove {
    position: absolute;
    padding: 0.1em;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 1.5em;
    text-shadow: 1px 0 #000000, 0 1px #000000, -1px 0 #000000, 0 -1px #000000;
  }

  @include breakpoint($xs-up) {
    border: $form-border;
    border-radius: $form-border-radius;

    &__main {
      display: block;
      max-width: 1000px;
      padding-top: 0;
    }

    &__content {
      display: flex;
    }

    &__row {
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    @at-root .layout.layout--show-markup &__row--markup {
      display: flex;
    }

    @at-root .layout:not(.layout--show-markup) &__row--markup {
      display: none;
    }

    &__markup-button {
      min-height: unset;
    }

    &__subject,
    &__name {
      margin: 0 4px 0 0;
      height: unset;
    }

    &__submit {
      height: unset;

      &--mobile {
        display: none;
      }

      &--desktop {
        display: inline;
      }
    }

    &__message {
      min-width: 350px;
      resize: both;
    }

    &__preview {
      width: 140px;

      margin-left: 0;
      margin-right: 6px;

      &--right {
        order: 1;
        margin-left: 6px;
        margin-right: 0;
      }

      &--mobile {
        display: none;
      }

      &--desktop {
        display: flex;
      }
    }

    &__status {
      float: unset;
      margin: 0;
    }

    &__close,
    &__float,
    &__restore,
    &__reset,
    &__attachment,
    &__preview-remove {
        font-size: 1em;
    }

    &__attachment {
      display: none;
    }

    &__float,
    &__restore {
      display: inline;
    }
  }
}

.post-form {
  display: inline-block;
  background: $form-background;

  &__title {
    text-align: center;
  }

  &__header {
    border-bottom: $post-header-border;
    padding: $form-header-padding;

    @include clearfix;
  }

  &__buttons {
    float: right;
  }

  &__buttons > span {
    @extend %clickable;
  }

  &__buttons > span:not(:last-child) {
    margin-right: 1em;
  }

  &__content {
    display: flex;
    flex-flow: row;
    padding: $form-content-padding;
  }

  &__main {
    flex: 1;
  }

  &__main:not(:first-child) {
    margin-left: 6px;
  }

  &__main:not(:last-child) {
    margin-right: 6px;
  }

  &__author-row {
    display: flex;
    flex-flow: row;
    margin-bottom: 6px;
  }

  &__markup-row {
    display: flex;
    justify-content: space-between;
  }

  &__markup-row > button {
    flex: 1;
  }

  &__markup-row > button:not(:last-child) {
    margin-right: 4px;
  }

  &__markup-row,
  &__message-row {
    margin-bottom: 6px;
  }

  &__subject,
  &__name {
    margin-right: 4px;
    min-width: 80px;
    width: 80px;
    flex: 50%;
  }

  &__submit {
    min-width: 80px;
  }

  &__message {
    min-width: 350px;
    min-height: 100px;
    width: 100%;
    resize: both;
  }

  &__preview {
    @extend %clickable;

    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 140px;
    height: 140px;
  }
}
