.thread-updater {
  &__update {
    margin-right: 1em;
    vertical-align: middle;
  }

  &__auto-label {
    margin-right: 1em;
    vertical-align: middle;
  }

  &__auto-checkbox {
    vertical-align: middle;
  }

  &__loader {
    display: inline-block;

    border: 2px solid $post-background;
    border-top: 2px solid $post-content-color;
    border-radius: 50%;

    width: 1em;
    height: 1em;

    vertical-align: middle;

    animation: spin 1s linear infinite;

    @keyframes spin {
      0% { transform: rotate(0deg); }
      25% { transform: rotate(90deg); }
      50% { transform: rotate(180deg); }
      75% { transform: rotate(270deg); }
      100% { transform: rotate(360deg); }
    }
  }
}
