<!doctype html>

<html amp lang="en">
  <head>
    <meta charset="utf-8" />
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>{{ title }}</title>
    <link rel="canonical" href="{{ canonical_url }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
    <noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    <script async custom-element="amp-live-list" src="https://cdn.ampproject.org/v0/amp-live-list-0.1.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />

    <style amp-custom>{{ amp_style }}</style>
  </head>

  <body>
    <div class="layout">
      <header id="header" class="layout__header">
        <div class="layout__page-nav">
          <a class="layout__page-nav-link" href="#footer" title="Go to the page bottom">▼</a>
        </div>

        {% block breadcrumbs %}
        {% endblock %}
      </header>

      <main class="layout__content">
        {% block content %}
        {% endblock %}
      </main>

      <footer id="footer" class="layout__footer">
        <div class="layout__page-nav">
          <a class="layout__page-nav-link" href="#top" title="Go to the page top">▲</a>
        </div>

        <ul class="links">
          <li class="links__item">
            <a class="links__link" href="{{ canonical_url }}">Full version</a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
