.posting-form {
  border: 2px solid #fb99f9;
  border-image: linear-gradient(to bottom right, #fb99f9 0%, #f632fe 100%);
  border-image-slice: 1;

  &__preview {
    border: $post-header-border;
    border-style: dashed;
    border-radius: $btn-border-radius;
  }
}

.post-form {
  border: 2px solid #fb99f9;
  border-image: linear-gradient(to bottom right, #fb99f9 0%, #f632fe 100%);
  border-image-slice: 1;

  &__preview {
    border: $post-header-border;
    border-style: dashed;
    border-radius: $btn-border-radius;
  }
}
