@import 'vars';

body,
html {
  background: $bg-color;
  color: $text-color;
  font-family: sans-serif;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color;
  }
}

label {
  color: $file-info-color;
}

td {
  padding: 0;
}
