.de-btn-src {
  height: 40px;
}

.de-file-off {
  vertical-align: middle;
}

.de-cfg-body,
.de-menu,
.de-popup,
.de-pview,
.de-win > .de-win-body {
  background: $post-bg-color;
  color: $post-text-color;
}

.de-post-counter:after,
.de-post-counter-pview {
  color: $file-info-color;
  font: bold 10pt "Socket";
}

.de-refmap {
  color: $post-text-color;
}

.de-win-body {
  border: 0 !important;
}
