@import '../utils';

.postform {
  &__block_label {
    text-align: right;
    font-size: 12pt;
    font-weight: bold;
    padding: 0;
    vertical-align: middle;
  }

  &__button-markup {
    background: transparent;
    border: 1px solid;
    border-color: $text-color;
    color: inherit;
    margin: 0 -.5px 3px;
    height: 25px;
    padding: 0 5px;

    &_code {
      code {
        font-family: Monaco;
      }
    }

    &:hover {
      color: $input-text-color;
      text-shadow: 0 0 5px $text-color;
    }

    @include breakpoint($phone-up) {
      &:first-child {
        border-radius: 4px 0 0 4px;
        margin-left: 0;
      }
  
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }
  }

  &__rules {
    display: none;
  }
}
