.post {
  &__inner {
    background: $post-bg-color;
    border-radius: 10px;
  }

  &__content {
    border-top: 1px solid #bbb;
    padding: 10px;
  }

  &__file-info {
    margin: 0;
  }

  &__file {
    padding-right: 10px;
  }

  &__file,
  &__header,
  &__message {
    margin: 0;
  }

  &__message {
    color: $post-text-color;
    margin-bottom: 10px
  }

  &__omitted {
    color: #666;
  }
}
