.post-header {
  font: bold 10pt "Socket";

  &__delete {
    display: none;
  }

  &__subject {
    font-size: 8pt;
    margin: 2px 0;
  }

  &__email {
    color: #60DEBF;
    text-decoration: underline;
  }

  &__name {
    color: #60DEBF;
    font: bold 12pt sans-serif;
  }

  &__tripcode {
    color: #1AB38D;
    font: bold 12pt sans-serif;
  }

  &__reflink {
    color: $file-info-color;
    text-decoration: underline overline;

    &:hover {
      color: #32d96f;
    }
  }
}
