$bg-color: #212121;
$text-color: #9E9E9E;
$link-color: #1DE9B6;

$post-text-color: #F5F5F5;
$post-bg-color: #424242;

$file-info-color: #717171;

$input-bg-color: #6F6F6F;
$input-text-color: #DEDEDE;
