@import '../utils/index';

.post {
  background: #424242;
  border-radius: 0.25em;

  &__header,
  &__content,
  &__footer {
    padding: 0.5em;
    overflow: hidden;
  }

  &__header,
  &__footer {
    font-size: 0.9em;
    color: #9e9e9e;
  }

  &__content,
  &__footer {
    @include clearfix;
  }

  &__header {
    border-bottom: 1px solid rgba(158, 158, 158, 0.1);
  }

  &__footer {
    border-top: 1px solid rgba(158, 158, 158, 0.1);
  }

  &__subject,
  &__author,
  &__date,
  &__id {
    display: block;
  }

  &__subject {
    color: #005a83;
    font-weight: 800;
  }

  &__name {
    color: #60debf;
    font-weight: 800;
  }

  &__tripcode {
    color: #1ab38d;
    font-weight: 400;
  }

  &__thumbnail {
    margin: 0 0 0.5em 0;
  }

  &__id,
  &__reply-link {
    float: right;
  }

  &__references {
    display: flex;
  }

  &__reference {
    margin-right: 0.5em;
  }

  @include breakpoint($phone-up) {
    &__subject,
    &__author,
    &__date,
    &__id {
      display: inline;
    }

    &__subject {
      margin: 0 0.5em 0 0;
    }

    &__date {
      margin: 0 0.5em;
    }

    &__thumbnail {
      float: left;
      margin: 0 0.5em 0 0;
    }
  }
}
