<form id="postform" class="form" method="post" enctype="multipart/form-data"
  action="{{ base_url }}/mobile/post/create">
  <input type="hidden" name="parent" value="{{ parent|default(0) }}" />

  <div class="form__file-column xs-hidden">
    <div class="form__row form__row--file">
      <label class="form__field form__field--file">
        <input type="file" id="file" class="form__input form__input--hidden"
          placeholder="File" name="file" value="" />

        <span class="form__file-placeholder">Upload file</span>
      </label>
    </div>
  </div>

  <div class="form__main-column">
    <div class="form__row">
      <label class="form__field form__field--author">
        <input type="text" id="subject" class="form__input" placeholder="Subject" name="subject" value="" />
      </label>

      <label class="form__field form__field--author">
        <input type="text" id="name" class="form__input" placeholder="Name" name="name" value="" />
      </label>

      <label class="form__field form__field--author">
        <input type="text" id="email" class="form__input" placeholder="Email" name="email" value="" />
      </label>

      <div class="form__field xs-hidden">
        <button type="submit" class="form__button button">Submit</button>
      </div>
    </div>

    <div class="form__row form__row--markup">
      <div class="form__field form__field--markup">
        <button type="button" id="postform-markup-bold" class="form__button button">Bold</button>
      </div>

      <div class="form__field form__field--markup">
        <button type="button" id="postform-markup-italic" class="form__button button">Italic</button>
      </div>

      <div class="form__field form__field--markup">
        <button type="button" id="postform-markup-underline" class="form__button button">Underline</button>
      </div>

      <div class="form__field form__field--markup">
        <button type="button" id="postform-markup-strike" class="form__button button">Strike</button>
      </div>

      <div class="form__field form__field--markup">
        <button type="button" id="postform-markup-sup" class="form__button button">Sup</button>
      </div>

      <div class="form__field form__field--markup">
        <button type="button" id="postform-markup-sub" class="form__button button">Sub</button>
      </div>

      <div class="form__field form__field--markup">
        <button type="button" id="postform-markup-spoiler" class="form__button button">Spoiler</button>
      </div>

      <div class="form__field form__field--markup">
        <button type="button" id="postform-markup-rp" class="form__button button">RP</button>
      </div>

      <div class="form__field form__field--markup">
        <button type="button" id="postform-markup-code" class="form__button button">Code</button>
      </div>

      <div class="form__field form__field--markup">
        <button type="button" id="postform-markup-quote" class="form__button button">Quote</button>
      </div>
    </div>

    <div class="form__row">
      <label class="form__field">
        <textarea id="message" class="form__textarea"
          placeholder="Message" name="message">
        </textarea>
      </label>
    </div>

    <div class="form__row xs-only">
      <label class="form__field button">
        <input type="file" id="file" class="form__input form__input--hidden"
          placeholder="File" name="file_mobile" value="" />

        <span class="form__file-placeholder">Upload file</span>
      </label>
    </div>

    <div class="form__row xs-only">
      <div class="form__field">
        <button type="submit" class="form__button button">Submit</submit>
      </div>
    </div>
  </div>
</form>
