@import 'vars';

html,
body {
  background-color: $bg-color;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color .3s ease, text-shadow .3s ease;

  &:hover {
    color: $link-active-color;
    text-shadow: $link-active-color 0 0 10px;
  }
}

hr {
  background: #fff;
}
