@import 'vars';

.header {
  &__admin-bar {
    clear: both;
    float: right;
  }

  &__logo {
    clear: both;
    color: $text-color;
    font-size: 2em;
    text-align: left;
    width: 100%;
  }
}
