@import 'vars';
@import '../utils/index';

.post {
  &_reply &__inner {
    background: $post-bg-color;
    border-radius: 5px;
    color: $post-text-color;
  }

  &__content {
    border-top: solid 1px #707070;
    padding: 0 5px 5px;
  }

  &__file-info {
    text-decoration: none;
  }

  &__omitted {
    color: #707070;
  }
}
