@import 'vars';

.postform {
  &__block_label {
    background: $post-bg-color;
    border: 1px solid #666;
    color: #ccc;
    font-weight: 800;
    padding-left: 3px;
    padding-right: 3px;
    text-align: left;
  }

  &__markup {
    margin-right: -5px;
  }

  &__rules {
    font-family: sans-serif;
    font-size: 10px;
    width: 468px;
  }

  &__rules-list-item {
    margin-left: 1em;
  }
}
