$background: #212121;
$color:      #ffffff;
$font:       14px 'Open Sans', sans-serif;
$padding:    1em;

$link-color:       #aba9a9;
$link-hover-color: $color;

$link-hover-decoration: none;

$line-border: 1px solid $color;

$input-background:    #2d2d2d;
$input-color:         #a7a7a7;
$input-border:        1px solid rgba(255, 255, 255, 0.18);
$input-border-radius: 0;
$input-padding:       0.25em 0.25em;

$btn-hover-background: $input-background;

$post-background:      #444444;
$post-omitted-color:   #707070;
$post-border:          0;
$post-border-radius:   5px;
$post-header-padding:  5px 10px 0px;
$post-content-padding: 5px 10px 10px;
$post-file-margin:     0 10px 0 0;
$post-margin:          0 0 5px;

$post-subject-color:  #cc1105;
$post-name-color:     #117743;
$post-tripcode-color: #ff0000;
