$bg-color: #212121;
$text-color: #fff;

$link-color: #aba9a9;
$link-active-color: $text-color;

$input-bg-color: #2d2d2d;
$input-text-color: $text-color;

$post-bg-color: #444;
$post-text-color: $text-color;
