.auth-form {
    &__links {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        margin-bottom: 1em;
    }

    &__header {
        text-align: center;
    }

    &__error {
        border: 1px solid #933;
        color: #933;
        margin-bottom: 1em;
        padding: 1em;
        background: #f99;
    }

    &__field {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 1em;
    }

    &__label-wrapper,
    &__input-wrapper {
        vertical-align: middle;
        width: 100%;
    }

    &__label-wrapper {
        display: none;
        flex: 1;
        text-align: center;
    }

    &__input-wrapper {
        flex: 2;
    }

    &__label {
        vertical-align: middle;
    }

    &__input {
        box-sizing: border-box;
        vertical-align: middle;
        width: 100%;
    }

    &__captcha {
        display: block;
        margin-right: 1em;
        vertical-align: middle;
    }

    &__buttons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        margin-bottom: 1em;
    }
}
