.form {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2px !important;

  &_resizable {
    border: 2px solid !important;
    cursor: pointer;
  }

  &__inner {
    box-sizing: border-box;
    cursor: initial;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin: 0;
    padding: 5px 0 0 5px;
  }

  &__group {
    display: block;
    flex-shrink: 0;
    margin: 0;
    padding: 0;

    &_inline {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    &_message {
      flex-grow: 1;
    }
  }

  &__field {
    display: block;
    flex-grow: 1;
    margin: 0 5px 5px 0;
    position: relative;

    &_fixed-width {
      flex-grow: 0;
    }
  }
}
