@import '../utils/index';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    @include clearfix;
    padding: 1em;
  }

  &__content {
    @include clearfix;
    flex: 1;
    padding: 1em;
  }

  &__footer {
    @include clearfix;
    padding: 1em;
  }
}
