.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    margin-bottom: 1em;
    padding: 1em;
  }

  &__content {
    clear: both;
    flex: 1;
    padding: 1em;
  }

  &__footer {
    clear: both;
    margin-top: 1em;
    padding: 1em;
  }
}
