@import '../utils/index';

.post {
  position: relative;

  &__inner {
    overflow: hidden;
    position: relative;
  }

  &__file {
    display: inline-block;
    margin: 5px;
    position: relative;

    &:hover .file-info {
      display: block;
    }
  }

  &__file-info {
    display: none;
    padding: 2px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    &:hover {
      display: block;
    }
  }

  &__message {
    margin: 5px;
    word-wrap: break-word;
  }

  &__reference-link {
    // To vertically center a text node without wrapper (DE comptability)
    display: inline-flex;
    align-items: center;
  }

  &__reference-link-author {
    font-size: 0.8em;
    margin-left: 0.25em;

    // To allow pointer events bubble up to the .post__reference-link (DE comptability)
    pointer-events: none;
  }

  &__reference-link-name {
    @extend .post-header__name !optional;
  }

  &__reference-link-tripcode {
    @extend .post-header__tripcode !optional;
  }

  @include breakpoint($phone-up) {
    @include clearfix;

    &_reply &__inner {
      float: left;
      min-width: 560px;
      max-width: 100%;
    }

    &__file {
      float: left;
      margin: 5px 10px 10px 5px;
    }
  }
}
