@import '../utils/index';

.post {
  position: relative;

  &__inner {
    overflow: hidden;
    position: relative;
  }

  &__file {
    display: inline-block;
    margin: 5px;
    position: relative;

    &:hover .file-info {
      display: block;
    }
  }

  &__file-info {
    display: none;
    padding: 2px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    &:hover {
      display: block;
    }
  }

  &__message {
    margin: 5px;
    word-wrap: break-word;
  }

  @include breakpoint($phone-up) {
    @include clearfix;

    &_reply &__inner {
      float: left;
      min-width: 560px;
      max-width: 100%;
    }

    &__file {
      float: left;
      margin: 5px 10px 10px 5px;
    }
  }
}
