html,
body {
  background: linear-gradient(to top, #1a0f26, #120524);
  background-attachment: fixed;
  color: #ff8fff;
  line-height: 1.42857143;
}

a {
  color: #0ff;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(255, 255, 255, .5);

  &:hover {
    color: #ff8fff;
  }
}

hr {
  border-color: #184b62;
  border-style: solid none none none;
  border-width: 1px;
}
