.post-header {
  padding: 8px 8px 2px;

  &__nameblock {
    box-sizing: border-box;
    color: #9a9a9a;
    cursor: default;
    margin-bottom: 5px;
    margin-left: 5px;
    max-width: 100%;
  }

  &__subject {
    color: #ff8fff;
    font-size: 110%;
    font-weight: 800;
    text-shadow: 0 0 6px rgba(178, 26, 197, .7);
  }

  &__name {
    color: #0ff;
    font-weight: 800;
    text-shadow: 0 0 6px rgba(255, 255, 255, .7);
  }

  &__tripcode {
    color: #0ff;
    font-weight: 400;
  }

  &__reflink {
    color: inherit;
    cursor: default;
    font-weight: inherit;
    margin-bottom: 5px;
    max-width: 100%;
    text-shadow: none;

    &:hover {
      color: #ff8fff;
    }
  }
}
