.post {
  background: transparent;
  color: #fff;
  max-width: 100%;

  &__inner {
    background-image: url('synthwave/bgpostnew.jpg');
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #fb99f9 0%, #f632fe 100%);
    border-image-slice: 1;
  }

  &__header {
    color: #9a9a9a;
  }

  &__message {
    color: #fff;
  }

  .spoiler,
  .rp {
    background-color: #6f6f6f;
    color: #6f6f6f;

    &:hover {
      color: inherit;
    }
  }

  .unkfunc {
    color: #0ff;
  }
}
