.post {
  &__header-mobile {
    border-bottom: $post-header-border;
  }

  &_reply &__inner {
    border: 2px solid #fb99f9;
    border-image: linear-gradient(to bottom right, #fb99f9 0%, #f632fe 100%);
    border-image-slice: 1;

    margin-left: 2px;
  }
}
