.settings-form {
  &__tab-content {
    background-attachment: fixed;

    border-image: linear-gradient(to bottom right, #fb99f9 0%, #f632fe 100%);
    border-image-slice: 1;
  }

  &__footer {
    background-attachment: fixed;

    border-image: linear-gradient(to bottom right, #fb99f9 0%, #f632fe 100%);
    border-image-slice: 1;
  }
}
