$background: linear-gradient(to top, #1a0f26, #120524);
$color:      #ff8fff;
$font:       14px 'Open Sans', sans-serif;
$padding:    1em;

$link-color:       #00ffff;
$link-hover-color: $color;

$link-hover-decoration: none;

$line-border: 1px solid #184b62;

$input-background:    #6f6f6f;
$input-color:         #dedede;
$input-border:        0;
$input-border-radius: 0;
$input-padding:       0.5em 0.5em;

$btn-background:    linear-gradient(180deg, #777, #6f6f6f);

$btn-hover-background: linear-gradient(180deg, #6f6f6f, #888);

$block-background:      url('synthwave/bgpostnew.jpg');
$block-header-color:    #9a9a9a;
$block-content-color:   #ffffff;
$block-border:          2px solid transparent;
$block-border-radius:   0;
$block-header-padding:  8px 13px 2px;
$block-content-padding: 2px 13px 8px;

$post-omitted-color: $link-color;
$post-file-margin:   0 15px 0 0;
$post-margin:        0 0 7px;

$post-subject-color:  $color;
$post-name-color:     $link-color;
$post-tripcode-color: $link-color;

$spoiler-background: #6f6f6f;
$spoiler-color:      inherit;

$quote-color: $link-color;
