<div class="header__admin-bar admin-bar adminbar">
  {% include '_admin_bar.twig' %}
</div>

<div class="header__style-switcher">
  <select id="style-switcher" onchange="setStyle(this.value)">
    <option disabled selected>Switch theme</option>
  </select>
</div>

<div class="header__logo">
  {{ constant('TINYIB_LOGO') }}
  {{ constant('TINYIB_BOARDDESC') }}
</div>
