<div class="header__admin-bar admin-bar adminbar">
  {% include '_admin_bar.twig' %}
</div>

<div class="header__style-switcher">
  {% include '_style_switcher.twig' %}
</div>

<div class="header__logo">
  {{ constant('TINYIB_LOGO') }}
  {{ constant('TINYIB_BOARDDESC') }}
</div>
