<!DOCTYPE html>

<html>
  <head>
    {% include '_head.twig' %}
  </head>

  <body {{ body_attribs }}>
    <div class="layout">
      <header class="layout__header header">
        {% include '_header.twig' %}
      </header>

      {% block body %}
      {% endblock %}

      <footer class="layout__footer footer">
        {% include '_footer.twig' %}
      </footer>
    </div>
  </body>
</html>
