<!DOCTYPE html>

<html>
  {% include '_head.twig' %}

  <body {{ body_attribs }}>
    <div class="layout">
      {% include '_header.twig' with {'class': 'layout__header'} %}

      <main class="layout__content content">
        {% block content %}{% endblock %}
      </main>

      {% include '_footer.twig' with {'class': 'layout__footer'} %}
    </div>
  </body>
</html>
