<form id="tinyib" name="tinyib" method="get" action="?">
  <input type="hidden" name="manage" value="" />
  <fieldset>
    <legend>Moderate a post</legend>

    <div valign="top">
      <label for="moderate">Post ID:</label>
      <input type="text" name="moderate" id="moderate" />
      <input type="submit" value="Submit" class="managebutton" />
    </div>

    <p>
      <small>
        <b>Tip:</b> While browsing the image board, you can easily moderate a post if you are logged in:<br />
        Tick the box next to a post and click "Delete" at the bottom of the page with a blank password.
      </small>
    </p>
  </fieldset>
</form>
