{% set thread_id = post['parent'] %}

<div class="layout__post post post_reply reply" id="reply_{{ post['id'] }}">
  <div class="post__header">
    {% include '_post_header.twig' %}
  </div>

  {% include '_file.twig' %}

  <div class="post__message message">
    {{ post['message'] }}
  </div>
</div>
