<div class="{{ class is defined ? class ~ ' ' }}userdelete form">
  <div class="form__field field">
    <div class="field__label-wrapper">
      <label class="field__label" for="deletepostpassword">Delete Post</label>
    </div>

    <div class="field__input-wrapper">
      <input type="text" class="field__input" id="deletepostpassword" name="password" placeholder="Password" />
    </div>
  </div>

  <div class="form__field field">
    <div class="field__input-wrapper">
      <input class="field__input field__input_submit" name="deletepost" value="Delete" type="submit" />
    </div>
  </div>
</div>
