{% extends '_html.twig' %}

{% block body %}
  <form id="delform" action="imgboard.php?delete" method="post">
    <input type="hidden" name="board" value="{{ constant('TINYIB_BOARD') }}" />

    {% for post in posts %}
      {% if post['parent'] == constant('TINYIB_NEWTHREAD') %}
        {% if not loop.first %}
          <hr />
        {% endif %}

        {% include '_post_oppost.twig' %}
      {% else %}
        {% include '_post.twig' %}
      {% endif %}
    {% endfor %}

    <hr />

    <div class="content__userdelete">
      Delete Post
      <input type="password" name="password" id="deletepostpassword" size="8" placeholder="Password" />&nbsp;
      <input name="deletepost" value="Delete" type="submit" />
    </div>
  </form>

  <div class="content__postarea">
    {% include '_post_form.twig' %}
  </div>

  <ul class="content__pager pager">
    {% include '_pager.twig' %}
  </ul>
{% endblock %}
