{% extends '_manage.twig' %}

{% set body_attribs = 'onload="document.tinyib.managepassword.focus();"' %}

{% block manage %}
  <form id="tinyib" name="tinyib" method="post" action="?manage">
    <fieldset>
      <legend align="center">Enter an administrator or moderator password</legend>

      <div class="content__login">
        <input type="password" id="managepassword" name="managepassword" /><br />
        <input type="submit" value="Log In" class="managebutton" />
      </div>
    </fieldset>
  </form>
{% endblock %}
