{% extends 'layout/_html.twig' %}

{% block head %}
  {{ parent() }}

  <link rel="canonical" href="{{ base_url }}/settings" />
{% endblock %}

{% block content %}
  <main class="{{class is defined ? class ~ ' '}}">
    <div id="settings_form"></div>
  </main>
{% endblock %}
