{% extends 'layout/_html.twig' %}

{% block head %}
  {{ parent() }}

  <link rel="canonical" href="{{ base_url }}/settings" />
{% endblock %}

{% block content %}
  <main class="{{class is defined ? class ~ ' '}}">
    <form class="content__settings-form settings-form" id="settings_form">
      <fieldset class="settings-form__section">
        <legend class="settings-form__section-title">Form settings</legend>

        <fieldset class="settings-form__section">
          <legend class="settings-form__section-title">File preview</legend>

          <p class="settings-form__row">
            <input class="settings-form__radio" type="radio" id="form_preview_align_right" name="form_preview_align" value="right" checked />
            <label class="settings-form__label" for="form_preview_align_right">On the right</label>
          </p>

          <p class="settings-form__row">
            <input class="settings-form__radio" type="radio" id="form_preview_align_left" name="form_preview_align" value="left" />
            <label class="settings-form__label" for="form_preview_align_left">On the left</label>
          </p>
        </fieldset>
      </fieldset>

      <fieldset class="settings-form__section">
        <legend class="settings-form__section-title">Time settings</legend>

        <fieldset class="settings-form__section">
          <legend class="settings-form__section-title">Language</legend>

          <p class="settings-form__row">
            <input class="settings-form__radio" type="radio" id="time_locale_default" name="time_locale" value="default" checked />
            <label class="settings-form__label" for="time_locale_default">Browser default</label>
          </p>

          <p class="settings-form__row">
            <input class="settings-form__radio" type="radio" id="time_locale_custom" name="time_locale" value="custom" />
            <label class="settings-form__label" for="time_locale_custom">Custom</label>

            <label class="settings-form__label settings-form__label_hidden" for="time_locale_custom_value">Custom value</label>
            <input class="settings-form__text" type="text" id="time_locale_custom_value" name="time_locale_custom_value" value="" placeholder="en" />
          </p>
        </fieldset>

        <fieldset class="settings-form__section">
          <legend class="settings-form__section-title">Format</legend>

          <p class="settings-form__row">
            <input class="settings-form__radio" type="radio" id="time_format_default" name="time_format" value="default" checked />
            <label class="settings-form__label" for="time_format_default">Browser default</label>
          </p>

          <p class="settings-form__row">
            <input class="settings-form__radio" type="radio" id="time_format_custom" name="time_format" value="custom" />
            <label class="settings-form__label" for="time_format_custom">Custom</label>

            <label class="settings-form__label settings-form__label_hidden" for="time_format_custom_value">Custom value</label>
            <input class="settings-form__text" type="text" id="time_format_custom_value" name="time_format_custom_value" value="" placeholder="EEE, dd MMM yyyy HH:mm:ss" />
          </p>

          <p>
            See the <a href="https://github.com/moment/luxon/blob/master/docs/formatting.md#table-of-tokens">luxon documentation</a> for the custom tokens reference.
          </p>
        </fieldset>

        <fieldset class="settings-form__section">
          <legend class="settings-form__section-title">Time zone</legend>

          <p class="settings-form__row">
            <input class="settings-form__radio" type="radio" id="time_zone_default" name="time_zone" value="default" checked />
            <label class="settings-form__label" for="time_zone_default">Browser default</label>
          </p>

          <p class="settings-form__row">
            <input class="settings-form__radio" type="radio" id="time_zone_fixed" name="time_zone" value="fixed" />
            <label class="settings-form__label" for="time_zone_fixed">Fixed UTC offset</label>

            <label class="settings-form__label settings-form__label_hidden" for="time_zone_fixed_offset">Fixed value</label>
            <input class="settings-form__text" type="number" id="time_zone_fixed_offset" name="time_zone_fixed_offset" value="0" min="-99" max="99" />
          </p>
        </fieldset>

        <fieldset class="settings-form__section">
          <legend class="settings-form__section-title">Current format</legend>

          <p class="settings-form__row" id="time_current_format"></p>
        </fieldset>
      </fieldset>

      <p class="settings-form__buttons">
        <button class="settings-form__button" type="submit">Save</button>
      </p>

      <p class="settings-form__status" id="status"></p>
    </form>
  </main>
{% endblock %}
