{% extends '_html.twig' %}

{% set url_prefix = '/' ~ constant('TINYIB_BOARD') ~ '/' %}

{% block body %}
  <ul class="content__links links">
    <li class="links__item"><a class="links__link" href="{{ url_prefix }}settings">Settings</a></li>
  </ul>

  <div class="content__replymode replymode">Posting mode: Reply</div>

  <form id="delform" action="{{ url_prefix }}post/delete" method="post">
    <input type="hidden" name="board" value="{{ constant('TINYIB_BOARD') }}" />

    {% for post in posts %}
      {% if post['rendered'] %}
        {{ post['rendered'] }}
      {% else %}
        {% if post['parent'] == constant('TINYIB_NEWTHREAD') %}
          {% include '_post_oppost.twig' %}
        {% else %}
          {% include '_post.twig' %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <hr />

    <div class="content__userdelete">
      <label class="content__userdelete-label" for="deletepostpassword">Delete Post</label>
      <input type="text" class="content__userdelete-input" id="deletepostpassword" name="password" placeholder="Password" />
      <input class="content__userdelete-submit" name="deletepost" value="Delete" type="submit" />
    </div>

    <hr />
  </form>

  <div class="content__postarea">
    {% include '_post_form.twig' %}
  </div>
{% endblock %}
