<div class="{{ class is defined ? class ~ ' ' }}userdelete form">
  {% include 'components/form/_textfield.twig' with {
    'class': [],
    'label_class': ['field__label_hidden'],
    'label': 'Delete Post', 'type': 'text', 'id': 'deletepostpassword',
    'name': 'password', 'placeholder': 'Password',
  } %}

  <div class="form__field field">
    <div class="field__input-wrapper">
      <input class="field__input field__input_submit" name="deletepost" value="Delete" type="submit" />
    </div>
  </div>
</div>
