@import 'vars';

.post {
  color: $text-color;

  &_reply &__inner {
    background: $post-bg-color;
  }

  &__content {
    border-top: 1px solid rgba(128, 0, 0, .25);
    padding:  1px 2px 2px;
  }

  &__file-info {
    text-decoration: none;
  }

  &__omitted {
    color: $omitted-color;
  }
}
