$background: #ffffee;
$color:      #600000;
$font:       14px 'noto serif', serif;
$padding:    8px;

$link-color:       #0000ee;
$link-hover-color: #dd0000;

$link-decoration: underline;

$line-border: 1px solid #bbbbbb;

$post-background:      #f0e0d6;
$post-omitted-color:   #666666;
$post-border:          1px solid #ddccc5;
$post-border-radius:   5px;
$post-header-padding:  0 20px;
$post-content-padding: 0.5em 20px;
$post-file-margin:     0 20px 0 0;
$post-margin:          0 0 4px;

$post-subject-color:  #cc1105;
$post-name-color:     #117743;
$post-tripcode-color: #228854;

$spoiler-background: #f0d0b6;
$spoiler-color:      $color;
