<header class="{{ class is defined ? class ~ ' ' }}header">
  {% include 'components/_style_switcher.twig' with {'class': 'header__style-switcher'} %}
  {% include 'components/_admin_bar.twig' with {'class': 'header__admin-bar'} %}

  <div class="header__logo">
    {{ constant('TINYIB_LOGO') }}

    <a class="header__title-link" href="/{{ constant('TINYIB_BOARD') }}">
      <h1 class="header__title">{{ constant('TINYIB_BOARDDESC') }}</h1>
    </a>
  </div>
</header>
