<!DOCTYPE html>

<html>
  <head>
    {% block head %}
      {% include 'layout/_head.twig' %}
    {% endblock %}
  </head>

  <body {{ body_attribs }}>
    {% if constant('TINYIB_GTM') %}
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ constant('TINYIB_GTM') }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    <div class="layout">
      {% include 'layout/_header.twig' with {'class': 'layout__header'} %}

      {% with %}
        {% set class = 'layout__content' %}
        {% block content %}{% endblock %}
      {% endwith %}

      <footer class="layout__footer footer">
        <ul class="footer__list">
          {% block footer_links %}
            <li class="footer__list-item">
              <a class="footer__link" href="{{ base_url }}/mobile">Mobile version</a>
            </li>
          {% endblock %}

          <li class="footer__list-item" style="display: none;">&nbsp;tinyib</li>
        </ul>
      </footer>
    </div>
  </body>
</html>
