@import 'vars';

html,
body {
  background: $bg-color;
  color: $text-color;
}

a {
  color: $link-color;
  font-family: sans-serif;

  &:hover {
    color: $link-hover-color;
  }
}

hr {
  background-image: linear-gradient(to left, $bg-color, rgba(52, 52, 92, .75), $bg-color);
  color: $link-color;
}
