@import 'burichan/vars';

.post {
  color: $text-color;
  font-family: sans-serif;

  &__inner {
    background: $post-bg-color;
  }

  &__content {
    border-top: 1px solid rgba(52, 52, 92, .25);
    padding: 1px 2px 2px;
  }

  &__file-info {
    font-family: sans-serif;
    font-size: .85em;
    text-decoration: underline;
  }

  &__omitted {
    font-family: serif;
    font-size: 1em;
    font-weight: 800;
  }
}
