$bg-color: #eef2ff;
$form-bg-color: #98e;
$link-color: #34345c;
$link-hover-color: #d00;
$name-color: #117743;
$post-bg-color: #d6daf0;
$quote-color: #789922;
$subject-color: #0f0c5d;
$text-color: #000;
